<div class="menu_bottom">
    <div class="navbar">
        <div class="subnav">
            <button class="subnavbtn">Video </button>
            <div class="subnav-content">
              <a href="#company">thời sự</a>
              <a href="#team">Phóng sự</a>
              <a href="#careers">Giải trí</a>
              <a href="#careers">Món ngon</a>
              <a href="#careers">Thể Thao</a>
              <a href="#careers">Thế giới</a>
              <a href="#careers">Trực tuyến</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Thời sự</button>
            <div class="subnav-content">
              <a href="#bring">Chính trị</a>
              <a href="#deliver">Pháp Luật </a>
              <a href="#package">Dân sinh</a>
              <a href="#express">Lao động - Việc làm</a>
              <a href="#express">Quyền được biết</a>
              <a href="#express">Phóng sự / Điều tra</a>
              <a href="#express">Quốc phòng</a>
              <a href="#express">Vượt qua Covid</a>

            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Thế giới </button>
            <div class="subnav-content">
              <a href="#link1">Kinh tế thế giới</a>
              <a href="#link3">Quân sự</a>
              <a href="#link2">Góc nhìn</a>
              <a href="#link3">Hồ sơ</a>
              <a href="#link3">Người Việt năm châu</a>
              <a href="#link3">Chuyện lạ</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Tài chính - Kinh Doanh </button>
            <div class="subnav-content">
                <a href="#link3">Kinh tế xanh</a>
                <a href="#link3">Chính sách - Phát triển</a>
                <a href="#link3">Ngân Hàng</a>
                <a href="#link3">Chứng khoán</a>
                <a href="#link3">Doanh Nghiệp</a>
                <a href="#link3">Doanh nhân</a>
                <a href="#link3">Tiêu dùng</a>
                <a href="#link3">Làm giàu</a>
                <a href="#link3">Địa ốc</a>

            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Đời sống</button>
            <div class="subnav-content">
              <a href="#link1">Người sống quanh ta</a>
              <a href="#link2">Gia đình </a>
              <a href="#link3">ẩm thực</a>
              <a href="#link4">Cộng đồng</a>.
              <a href="#link4">Gương sáng biên cương</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Văn hóa</button>
            <div class="subnav-content">
                <a href="#link4">Câu chuyện văn hóa</a>
                <a href="#link4">Khảo cứu</a>
                <a href="#link4">Xem - Nghe</a>
                <a href="#link4">Hà Nội thành phố tôi yêu</a>
                <a href="#link4">Sống đẹp</a>
                <a href="#link4">Món ngon Hà Nội</a>

            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Giải Trí </button>
            <div class="subnav-content">
                <a href="#link4">Phim</a>
                <a href="#link4">Truyền hình</a>
                <a href="#link4">Đời nghệ sỹ</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Giới trẻ </button>
            <div class="subnav-content">
                <a href="#link4">Sống - Yêu - Ăn - Chơi</a>
                <a href="#link4">Thế giới mạng</a>
                <a href="#link4">Kết nối</a>
                <a href="#link4">Đoàn - Hội</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Giáo dục  </button>
            <div class="subnav-content">
                <a href="#link4">Tuyển sinh 2021</a>
                <a href="#link4">Hộp tư vấn 24/7</a>
                <a href="#link4">Du học</a>
                <a href="#link4">Chọn nghề</a>
                <a href="#link4">Chọn trường</a>
                <a href="#link4">Người thầy</a>
                <a href="#link4">Tra cứu điểm thi 2021</a>
                <a href="#link4">Cẩm nang tuyển sinh 2021 <img src="https://static.thanhnien.vn/thethao2021/w/app_themes/img/hot.png" style="margin-top:-5px" class="loading" data-was-processed="true"></a>

            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Thể thao</button>
            <div class="subnav-content">
              <a href="#link1">Euro 2020 <img src="https://static.thanhnien.vn/thethao2021/w/app_themes/img/hot.png" style="margin-top:-5px" class="loading" data-was-processed="true"></a>
              <a href="#link2">Bóng đá Việt Nam</a>
              <a href="#link3">Sôi động cùng V-League</a>
              <a href="#link4">Bóng đá Quốc tế</a>
              <a href="#link4">Tin chuyển nhượng</a>
              <a href="#link4">Thể thao & Cộng đồng</a>
              <a href="#link4">Thể thao khác</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Sức khỏe</button>
            <div class="subnav-content">
                <a href="#link4">Làm đẹp</a>
                <a href="#link4">Khỏe đẹp mỗi ngày</a>
                <a href="#link4">Giới tính</a>
                <a href="#link4">Sống vui khỏe</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Du lịch </button>
            <div class="subnav-content">
                <a href="#link4">Khám phá</a>
                <a href="#link4">A-Z</a>
                <a href="#link4">Săn tour</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Công nghệ </button>
            <div class="subnav-content">
                <a href="#link4">Xu hướng</a>
                <a href="#link4">Sản phẩm mới</a>
                <a href="#link4">Kinh nghiệm</a>
                <a href="#link4">Ý tưởng</a>
                <a href="#link4">Chuyển đổi số</a>

            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Xe</button>
            <div class="subnav-content">
               <a href="#link4">Thị trường xe</a>
               <a href="#link4">Diễn đàn xe</a>
               <a href="#link4">Tư vấn xe</a>
               <a href="#link4">Đánh giá xe</a>
               <a href="#link4">Khám phá xe</a>
               <a href="#link4">Video</a>
            </div>
          </div>

    </div>

</div>
