.menu_bottom{
    font-size: 18px;
    border: 2px solid rgb(196, 196, 196);
    height: 55px;

    .navbar {
        overflow: hidden;
        background-color: rgb(252, 250, 250);
        a {
            float: left;
            font-size: 16px;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 8px 9px 8px 8px;
            text-decoration: none;
        }
        &:hover{
            overflow: visible;
        }



    }
    .subnav {
        float: left;
        overflow: hidden;
        .subnavbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: #333;
            padding: 8px 9px 8px 8px;
            background-color: transparent;
            // margin: 0;
            font-style: bold;
            font-weight: 700;
            line-height: 18px
        }
        &:hover {
            .subnav-content {
                display: block;
            }
        }
    }
    .navbar a:hover, .subnav:hover .subnavbtn {
        color: rgb(0, 162, 255);;
    }
    .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: #00739f;
        width: 100%;
        z-index: 1;

        height: 50px;
        padding-left: 400px;

        a {
            float: left;
            color: white;
            text-decoration: none;
            text-align: center;
            &:hover {
                 color: black;
            }
        }
    }


}
