<div class="menu_bottom">
  <div class="navbar">
    <div class="subnav" *ngFor="let item of dataCMMB">
      <button class="subnavbtn">{{item.header}}</button>
      <div class="subnav-content">
        <a href="" *ngFor="let i of item.data">{{i}}<img
            src="https://static.thanhnien.vn/thethao2021/w/app_themes/img/hot.png"
            style="margin-top: 0px; float: right;" class="loading" data-was-processed="true"
            [ngStyle]="{display: getDisplay(i)}"></a>
      </div>
    </div>
  </div>
 </div> 