.menu_bottom{
    font-size: 12px;
    height: 40px;
    position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
    top: 75px; /*Nằm trên cùng*/
    left: 0px; /*Nằm sát bên trái*/
    z-index: 1000; /*Hiển thị lớp trên cùng*/
    background-color:#fff;
    width: 1270px;
    text-transform: lowercase;
    :first-letter {
    text-transform: uppercase;
  }
    .navbar {
      box-shadow: 0 1px 7px #d9d9d9;
      height:100%;
        overflow: hidden;
        background-color: rgb(252, 250, 250);
        a {
            float: left;
            font-size: 12px;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 8px 9px 8px 8px;
            text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
        &:hover{
            overflow: visible;
        }
    }
    .subnav {
        float: left;
        overflow: hidden;
        .subnavbtn {
            font-size: 12px;
            border: none;
            outline: none;
            color: #333;
            padding: 8px 9px 8px 8px;
            background-color: transparent;
            // margin: 0;
            font-style: bold;
            font-weight: 700;
            line-height: 12px;
            text-transform: lowercase;
             :first-letter {
          text-transform: uppercase;
       }
     }
        &:hover {
            .subnav-content {
                display: block;
            }
        }
    }
    .navbar a:hover, .subnav:hover .subnavbtn {
        color: #00bfc5;
    }
    .subnav-content {

        display: none;
        position: absolute;
        left: 0;
        background-color: #018f94;
        width: 100%;
        z-index: 1;
        height: 35px;
        padding-left: 100px;
        a {
            float: left;
            color: white;
            text-decoration: none;
            text-align: center;
            &:hover {
                text-decoration: underline;
                color:white;
            }
        }
    }


}
