<!-- Tin tức mỗi ngày -->
  <div class="weekly2-news-area pt-50 pb-30 gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider-wrapper">
                        <!-- section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="small-tittle mb-30">
                                    <h4 style="margin-top: -10px;margin-bottom: 20px; font-weight: bold;">Tin tức mỗi ngày</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly2-news-active d-flex" *ngIf="show">
                                    <!-- Single -->
                                    <div class="weekly2-single" *ngFor="let data of dataKP; let i=index" [@animationPhoto]="images.length">
                                        <div class="weekly2-img">
                                            <img src={{data.image}} alt="{{data.title}}">
                                        </div>
                                        <div class="weekly2-caption">
                                        <h4><a href="{{data.link}}" target="blank" class="popup-video btn-icon" >{{data.title}}</a></h4>
                                            <p class = "p1">{{data.time}}</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tin tức xu hướng -->
<div class="recent-articles pt-80 pb-80">
  <div class="container">
      <div class="recent-wrapper">
          <!-- section Tittle -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-tittle mb-30">
                      <h3 style="margin-top: 30px;margin-bottom: 20px;margin-left: 10px; font-weight: bold;">Tin tức xu hướng</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="recent-active dot-style d-flex dot-style" *ngIf="show">
                      <!-- Single -->
                      <div class="single-recent" *ngFor="let data of dataVideo; let i = index" [@animationPhoto]="images.length">
                          <div class="what-img">
                              <img src="{{data.image}}" alt="{{data.title}}">
                          </div>
                          <div class="what-cap">
                              <h4><a href="{{data.link}}" target="blank">{{data.title}}</a></h4>
                              <a class="popup-video btn-icon" href="{{data.link}}" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                                <p>{{data.time}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

