   .weekly2-news-area{
    .weekly2-wrapper{
        .slider-wrapper{
            padding: 30px 22px 19px 15px;
            width: 1000px;
            height: 340px;
            background-color: white;
            margin-left: -10px;
            margin-top: 0px;
            margin-bottom: 20px;
            overflow-y: hidden;
            overflow-x: scroll;
            display: inline-block;
            &::-webkit-scrollbar{
              height: 4px;
              background: grey;
            }
            &::-webkit-scrollbar-track-piece {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
              background-color: #00bfc5; }
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                background-color: #F5F5F5;
                border-radius: 10px; }
            .weekly2-single{
                // margin-left: 20px;
                margin-right: 30px;

                .weekly2-img{
                    margin-bottom: 20px;
                    img{
                        width: 220px;
                        height: 130px;
                        object-fit: cover;

                    }
                }
                .weekly2-caption{
                    h4{

                        a{
                          text-decoration: none;
                          color: black;
                            font-size: 14px;
                            font-weight: 700;
                            display: block;
                            &:hover{
                                color:#00bfc5;
                            }
                        }
                    }
                    p{
                        color: #838793;
                        font-size: 12px;
                        margin: 0;
                    }

                }
            }
            .home-banner2 img {
                width: 100%;
            }
        }
    }
    .weekly2-news-active {

        button {
            cursor: pointer;
        }
        .slick-arrow {
            position: absolute;
            top: -46px;
            right: 10px;
            background: none;
            border: none;
            color: #707b8e;
            padding: 0;
            cursor: pointer;
            font-size: 12px;
        }
        .slick-prev.slick-arrow {
            right: 37px;
        }
    }
}
//trending new
.recent-articles{
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-block;
  &::-webkit-scrollbar{
    height: 4px;
    background: grey;
  }
  &::-webkit-scrollbar-track-piece {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00bfc5; }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #F5F5F5;
      border-radius: 10px; }
}
.recent-articles{
  width: 1000px;
  height: 350px;
  background-color: white;
  margin-bottom: 20px;
  display: block;
  .recent-wrapper{
      margin-bottom: 23px;
  }

  .single-recent{
      position: relative;
      margin-left: 12px;
      margin-right: 15px;
      .what-img{
          img{
              width: 220px;
              height: 150px;
              border-radius: 4px 4px 0px 0px;
              object-fit: cover;
          }
      }
      .what-cap{
          padding: 20px 20px 10px 10px;
          background:#fff;
          position: absolute;
          bottom: -80px;
          left: 0;
          width: 100%;
          height: 70%;
          p{
            font-size: 10px;
            color: black;
          }
          h4{
              font-size: 14px;
              margin-bottom: 10px;
              a{
                  font-weight: 700;
                  line-height:1.4;
                  text-decoration: none;
                  color: black;
                  &:hover{
                      color: #00bfc5;
                  }
              }
          }
      }

      // icon
      span{
          color: #7a8496;
          position: absolute;
          right: 10px;
          bottom: -5px;
          font-size: 20px;
          cursor: pointer;
          // btn Animated Style
          .fab{
              color: #00bfc5;
              height: 10px;
          }
      }
  }
  .slick-arrow {
      background: none;
      border: none;
      position: absolute;
      bottom: -87px;
      text-align: center;
      left: 0;
      right: -85px;
      margin: auto;
      font-size: 46px;
      cursor: pointer;
      color: #ff0b0b;

  }
  .slick-prev.slick-arrow {
      transform: rotate(180deg);
      left: -172px;
      color: #ddd;
      &:hover{
          color: #00bfc5;
      }
  }

}
