  <div class="weekly2-news-area pt-50 pb-30 gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider-wrapper">
                        <!-- section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="small-tittle mb-30">
                                    <h4 style="margin-top: -10px;margin-bottom: 20px; font-weight: bold;">Tin tức mỗi ngày</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly2-news-active d-flex">
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src={{dataKDMN[3]}} alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#">{{dataKDMN[4]}}</a></h4>
                                            <p class = "p1">{{dataKDMN[5]}}</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src=  {{dataLD[3]}} alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#"> {{dataLD[4]}}</a></h4>
                                            <p class="p2">  {{dataLD[5]}}</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src= {{dataKP[0]}} alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#"> {{dataKP[1]}}</a></h4>
                                            <p> {{dataKP[2]}}</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src={{dataSVK[0]}} alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#"> {{dataSVK[1]}}</a></h4>
                                            <p> {{dataSVK[2]}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-articles pt-80 pb-80">
  <div class="container">
      <div class="recent-wrapper">
          <!-- section Tittle -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-tittle mb-30">
                      <h3 style="margin-top: 30px;margin-bottom: 20px;margin-left: 10px; font-weight: bold;">Tin tức xu hướng</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="recent-active dot-style d-flex dot-style">
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="{{dataVideo[0]}}" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="#" > <h4><a href="latest_news.html">{{dataVideo[1]}}</a></h4></a></h4>
                              <a class="popup-video btn-icon" href="{{dataLink[0]}}" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>

                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="{{dataVideo[3]}}" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html">{{dataVideo[4]}}</a></h4>
                              <a class="popup-video" href="{{dataLink[1]}}" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="{{dataVideo[6]}}" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html"> <h4><a href="latest_news.html">{{dataVideo[7]}}</a></h4></a></h4>
                              <a class="popup-video" href="{{dataLink[2]}}" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="{{dataVideo[9]}}" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html">{{dataVideo[10]}}</a></h4>
                              <a class="popup-video" href="{{dataLink[3]}}" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
