
  <div class="weekly2-news-area pt-50 pb-30 gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <div class="row">
                <div class="col-lg-9">
                    <div class="slider-wrapper">
                        <!-- section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="small-tittle mb-30">
                                    <h4 style="margin-top: -10px;margin-bottom: 20px; font-weight: bold;">Tin tức mỗi ngày</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly2-news-active d-flex">
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src="assets/images/weeklyNews1.png" alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                            <p>2 tiếng trước</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src="assets/images/weeklyNews2.png" alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                            <p>2 tiếng trước</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src="assets/images/weeklyNews3.png" alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                            <p>2 tiếng trước</p>
                                        </div>
                                    </div>
                                    <!-- Single -->
                                    <div class="weekly2-single">
                                        <div class="weekly2-img">
                                            <img src="assets/images/weeklyNews2.png" alt="">
                                        </div>
                                        <div class="weekly2-caption">
                                            <h4><a href="#">Scarlett’s disappointment at latest accolade</a></h4>
                                            <p>2 tiếng trước</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recent-articles pt-80 pb-80">
  <div class="container">
      <div class="recent-wrapper">
          <!-- section Tittle -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-tittle mb-30">
                      <h3 style="margin-top: 30px;margin-bottom: 20px;margin-left: 10px; font-weight: bold;">Tin tức xu hướng</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="recent-active dot-style d-flex dot-style">
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="assets/images/tranding1.png" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="#" > <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4></a></h4>
                              <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>

                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="assets/images/tranding2.png" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                              <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="assets/images/tranding1.png" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html"> <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4></a></h4>
                              <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                      <!-- Single -->
                      <div class="single-recent">
                          <div class="what-img">
                              <img src="assets/images/tranding2.png" alt="">
                          </div>
                          <div class="what-cap">
                              <h4><a href="latest_news.html">What to Expect From the 2020 Oscar Nomin ations</a></h4>
                              <a class="popup-video" href="https://www.youtube.com/watch?v=1aP-TXUpNoU" target="blank"><span class="flaticon-play-button"><i class="fab fa-youtube"></i></span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
