$widthIconMenu : 70%;
$heightIconMenu : 40%;
.header_content{
  position: relative;
  background-color: #009cd7;
  height:100px;
  .icon_menu{
    font-size:25px;
    color: white;
    margin-left: 0px;
    float: left;
    margin-left:45px;
    margin-top:12px;
    margin-bottom: 5px;
  }
  .menu_left{
    // background-color:antiquewhite;
    width: 600px;
    height: 100%;
    margin-left: 0px;
    float: left;
    .categories{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .categories_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
        margin-left:61px;
      }
      .categoriesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:17px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .utilities{
      width: 120px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .utilities_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
        margin-left: 48px;

      }
      .utilitiesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:27px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .forYou{
      width: 150px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .forYou_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
        margin-left: 65px;
      }
      .forYouWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:16px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .job{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;

      .job_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;

      }
      .jobWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }

  }
  .menu_center{
    // background-color:rgb(236, 138, 138);
    width: 400px;
    height: 100%;
    margin-left: 0px;
    float: left;
    .nameApp-News{
      width: 80%;
      height: 40%;
      // background-color:#009cd7;
      margin-left: 59px;
      margin-top:16px;
      h1{
        font-size:38px;
        color: white;
      }

    }
    .nameApp-News-Bottom{
      width: 425px;
      height: 23%;
      margin-top: 13px;
      margin-right: 10px;
      a{
        color: white;
      }
    }

  }
  .menu_right{
    // background-color:rgb(172, 130, 130);
    width: 530px;
    height: 100%;
    margin-left: 68px;
    float: left;

    .search{
      width: 110px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .search_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;

      }
      .searchWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .needToKnow{
      width: 150px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .needToKnow_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
       margin-left: 67px;
      }
      .needToKnowWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .contact{
      width: 120px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .contact_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
        margin-left: 49px;
      }
      .contactWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:30px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .login{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;

      .login_icon{
        width: $widthIconMenu;
        height:$heightIconMenu;
        margin-left: 63px;
      }
      .loginWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:29px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
  }
}
