<div class="site-header__content">
  <ul class="site-header__tool left btn-group">
    <li class = "item item--dm dropdown">
      <a href="#chuyenmuc" class="parent dropbtn" id="navbardrop" data-toggle="dropdown">
        <i class="fas fa-bars"></i>
        <span>CHUYÊN MỤC</span>
      </a>
      <div class="dropdown-menu">
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">VIDEO</a></td>
              <td class="titleItem">
                <a href="">THỜI SỰ</a>
                <a href="">PHÓNG SỰ</a>
                <a href="">GIẢI TRÍ</a>
                <a href="">MÓN NGON</a>
                <a href="">THỂ THAO</a>
                <a href="">THẾ GIỚI</a>
                <a href="">TRỰC TUYẾN</a>
              </td>

            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">THỜI SỰ</a></td>
              <td class="titleItem">
                <a href="">CHÍNH TRỊ</a>
                <a href="">PHÁP LUẬT</a>
                <a href="">DÂN SINH</a>
                <a href="">LAO ĐỘNG - VIỆC LÀM</a>
                <a href="">QUYỀN ĐƯỢC BIẾT</a>
                <a href="">PHÓNG SỰ / ĐIỀU TRA</a>
                <a href="">QUỐC PHÒNG</a>
                <a href="">VƯỢT QUA COVID-19</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">TÔI VIẾT</a></td>
              <td class="titleItem">
                <a href="">CHÀO BUỔI SÁNG</a>
                <a href="">BLOG PHÓNG VIÊN</a>
              </td>

            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">THẾ GIỚI</a></td>
              <td class="titleItem">
                <a href="">KINH TẾ THẾ GIỚI</a>
                <a href="">QUÂN SỰ</a>
                <a href="">GÓC NHÌN</a>
                <a href="">HỒ SƠ</a>
                <a href="">NGƯỜI VIỆT NĂM CHÂU</a>
                <a href="">CHUYỆN LẠ</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">VĂN HÓA</a></td>
              <td class="titleItem">
                <a href="">CÂU CHUYỆN VĂN HÓA</a>
                <a href="">KHẢO CỨU</a>
                <a href="">XEM - NGHE</a>
                <a href="">HÀ NỘI THÀNH PHỐ TÔI YÊU</a>
                <a href="">SỐNG ĐẸP</a>
                <a href="">MÓN NGON HÀ NỘI</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">GIẢI TRÍ</a></td>
              <td class="titleItem">
                <a href="">PHIM</a>
                <a href="">TRUYỀN HÌNH</a>
                <a href="">ĐỜI NGHỆ SĨ</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">THỂ THAO</a></td>
              <td class="titleItem">
                <a href="">EURO 2020<img src="https://static.thanhnien.vn/thethao2021/w/app_themes/img/hot.png" style="margin-top:-5px" class="loading" data-was-processed="true"></a>
                <a href="">BÓNG ĐÁ VIỆT NAM</a>
                <a href="">SÔI ĐỘNG CÙNG V-LEAGUE</a>
                <a href="">BÓNG ĐÁ QUỐC TẾ</a>
                <a href="">TIN CHUYỂN NHƯỢNG</a>
                <a href="">BÓNG RỔ</a>
                <a href="">THỂ THAO & CỘNG ĐỒNG</a>
                <a href="">THỂ THAO KHÁC</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">ĐỜI SỐNG</a></td>
              <td class="titleItem">
                <a href="">NGƯỜI SỐNG QUANH TA</a>
                <a href="">GIA ĐÌNH</a>
                <a href="">ẨM THỰC</a>
                <a href="">CỘNG ĐỒNG</a>
                <a href="">GƯƠNG SÁNG BIÊN CƯƠNG</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">TÀI CHÍNH - KINH DOANH</a></td>
              <td class="titleItem">
                <a href="">KINH TẾ XANH</a>
                <a href="">CHÍNH SÁCH & PHÁT TRIỂN</a>
                <a href="">NGÂN HÀNG</a>
                <a href="">CHỨNG KHOÁN</a>
                <a href="">DOANH NGHIỆP</a>
                <a href="">DOANH NHÂN</a>
                <a href="">TIÊU DÙNG</a>
                <a href="">LÀM GIÀU</a>
                <a href="">ĐỊA ỐC</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">GIỚI TRẺ</a></td>
              <td class="titleItem">
                <a href="">SỐNG -YÊU - ĂN - CHƠI</a>
                <a href="">THẾ GIỚI MẠNG</a>
                <a href="">KẾT NỐI</a>
                <a href="">ĐOÀN - HỘI</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">GIÁO DỤC</a></td>
              <td class="titleItem">
                <a href="">TUYỂN SINH 2021</a>
                <a href="">HỘP TƯ VẤN 24/7</a>
                <a href="">DU HỌC</a>
                <a href="">CHỌN NGHỀ</a>
                <a href="">CHỌN TRƯỜNG</a>
                <a href="">NGƯỜI THẦY</a>
                <a href="">TRA CỨU ĐIỂM THI 2021</a>
                <a href="">CẨM NANG TUYỂN SINH 2021<img src="https://static.thanhnien.vn/thethao2021/w/app_themes/img/hot.png" style="margin-top:-5px" class="loading" data-was-processed="true"></a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">CÔNG NGHỆ</a></td>
              <td class="titleItem">
                <a href="">XU HƯỚNG</a>
                <a href="">SẢN PHẨM MỚI</a>
                <a href="">KINH NGIỆP</a>
                <a href="">Ý TƯỞNG</a>
                <a href="">CHUYỂN ĐỔI SỐ</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">GAME</a></td>
              <td class="titleItem">
                <a href="">ESPORTS</a>
                <a href="">THỦ THUẬT</a>
                <a href="">PHÒNG MÁY</a>
                <a href="">CÔNG NGHỆ GAME</a>
                <a href="">CỘNG ĐỒNG</a>
                <a href="">VIDEO</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">SỨC KHỎE</a></td>
              <td class="titleItem">
                <a href="">LÀM ĐẸP</a>
                <a href="">KHỎE ĐẸP MỖI NGÀY</a>
                <a href="">GIỚI TÍNH</a>
                <a href="">SỐNG VUI KHỎE</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">DU LỊCH</a></td>
              <td class="titleItem">
                <a href="">KHÁM PHÁ</a>
                <a href="">A - Z</a>
                <a href="">SĂN TOUR</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"> <a href="">XE</a></td>
              <td class="titleItem">
                <a href="">THỊ TRƯỜNG XE</a>
                <a href="">TƯ VẤN XE</a>
                <a href="">DIỄN ĐÀN XE</a>
                <a href="">ĐÁNH GIÁ XE</a>
                <a href="">KHÁM PHÁ XE</a>
                <a href="">VIDEO</a>
              </td>
            </tr>
          </table>
        </div>


      </div>
    </li>
    <li class = "item item--ti">
      <a href="" class="parent">
        <i class="fas fa-puzzle-piece"></i>
        <span> TIỆN ÍCH</span>
      </a>
    </li>
    <li class = "item item--dcb">
      <a href="" class="parent">
        <i class="fab fa-buffer"></i>
        <span> DÀNH CHO BẠN</span>
      </a>
    </li>
    <li class = "item item--vl">
      <a href="" class="parent">
        <i class="fas fa-briefcase"></i>
        <span>VIỆC LÀM</span>
      </a>
    </li>
  </ul>
  <h1 class = "logo">
    <a href="" class = "logo-index">
     <b><span style="font-family: inherit;">TIN TỨC NHANH</span></b>
      <h6 style="font-size: 14px;">DIỄN ĐÀN TIN TỨC CỦA MỌI NHÀ</h6>
      <!-- <span class = "logo-chu">DIỄN ĐÀN CỦA HỘI LIÊN HIỆP THANH NÊN VIỆT NAM</span> -->
    </a>
  </h1>
  <ul class="site-header__tool right btn-group">
    <li class = "item item--tk  dropdown">
      <a href="#timkiem" class="parent dropbtn" id="navbardrop" data-toggle="dropdown">
        <i class="fas fa-search"></i>
        <span>TÌM KIẾM</span>
      </a>
      <div class="dropdown-menu dropdown-menu-tk">
        <div class="content">
            <input type="text" class="input-tk" placeholder="Tìm Kiếm..." >
        </div>
      </div>
    </li>
    <li class = "item item--bcb">
      <a href="" class="parent">
        <i class="far fa-lightbulb"></i>
        <span>BẠN CẦN BIẾT</span>
      </a>
    </li>
    <li class = "item item--lh">
      <a href="" class="parent">
        <i class="far fa-envelope"></i>
        <span>LIÊN HỆ</span>
      </a>
    </li>
    <li class = "item item--dn">
      <a href="" class="parent">
        <i class="far fa-user"></i>
        <span>ĐĂNG NHẬP</span>
      </a>
    </li>
  </ul>
</div>

