.header_content {
  position: relative;
  background-color: #009cd7;
  height: 100px;
}

.header_content .menu_left {
  width: 600px;
  height: 100%;
  margin-left: 0px;
  float: left;
}

.header_content .menu_left .categories {
  width: 140px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_left .categories .categories_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_left .categories .categoriesWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_left .categories .categoriesWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_left .utilities {
  width: 120px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_left .utilities .utilities_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_left .utilities .utilitiesWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_left .utilities .utilitiesWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_left .forYou {
  width: 150px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_left .forYou .forYou_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_left .forYou .forYouWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_left .forYou .forYouWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_left .job {
  width: 140px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
}

.header_content .menu_left .job .job_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_left .job .jobWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_left .job .jobWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_center {
  background-color: #c77100;
  width: 400px;
  height: 100%;
  margin-left: 0px;
  float: left;
}

.header_content .menu_right {
  width: 530px;
  height: 100%;
  margin-left: 68px;
  float: left;
}

.header_content .menu_right .categories {
  width: 110px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_right .categories .categories_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_right .categories .categoriesWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_right .categories .categoriesWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_right .utilities {
  width: 150px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_right .utilities .utilities_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_right .utilities .utilitiesWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_right .utilities .utilitiesWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_right .contract {
  width: 120px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
  border-right: #bac9cf 1.5px solid;
}

.header_content .menu_right .contract .contract_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_right .contract .contractWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_right .contract .contractWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}

.header_content .menu_right .login {
  width: 140px;
  height: 70%;
  margin-right: 0px;
  float: left;
  margin-top: 12px;
}

.header_content .menu_right .login .login_icon {
  width: 100%;
  height: 50%;
  background-color: #4ca6cc;
}

.header_content .menu_right .login .loginWords {
  width: 100%;
  height: 40%;
  margin-top: 10px;
}

.header_content .menu_right .login .loginWords a {
  margin-left: 20px;
  margin-top: 20px !important;
  color: white !important;
}
/*# sourceMappingURL=menu.component.css.map */