<div class="header_content">
  <div class="menu_left">
    <div class="categories">
      <div class="categories_icon icon_menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="categoriesWords">
        <a>CHUYÊN MỤC </a>
      </div>
    </div>
    <div class="utilities">
      <div class="utilities_icon icon_menu">
        <i class="fas fa-puzzle-piece"></i>
      </div>
      <div class="utilitiesWords">
        <a>TIỆN ÍCH</a>
      </div>
    </div>
    <div class="forYou">
      <div class="forYou_icon icon_menu">
        <i class="fab fa-buffer"></i>
      </div>
      <div class="forYouWords">
        <a>DÀNH CHO BẠN</a>
      </div>
    </div>
    <div class="job">
      <div class="job_icon icon_menu">
        <i class="fas fa-briefcase"></i>
      </div>
      <div class="jobWords">
        <a>VIỆC LÀM</a>
      </div>
    </div>
  </div>
  <div class="menu_center">
    <div class="nameApp-News">
      <h1>TUANYENXINH</h1>
    </div>
    <div class="nameApp-News-bottom">
      <a>DIỄN ĐÀN CỦA HỘI LIÊN HIỆP THANH NIÊN VIỆT NAM</a>
    </div>
  </div>
  <div class="menu_right">
    <div class="search">
      <div class="search_icon icon_menu">
        <i class="fas fa-search"></i>
      </div>
      <div class="searchWords">
        <a> TÌM KIẾM</a>
      </div>
    </div>
    <div class="needToKnow">
      <div class="needToKnow_icon icon_menu">
        <i class="far fa-lightbulb"></i>
      </div>
      <div class="needToKnowWords">
        <a>BẠN CẦN BIẾT </a>
      </div>
    </div>
    <div class="contact">
      <div class="contact_icon icon_menu">
        <i class="far fa-envelope"></i>
      </div>
      <div class="contactWords">
        <a>LIÊN HỆ</a>
      </div>
    </div>
    <div class="login">
      <div class="login_icon icon_menu">
        <i class="far fa-user"></i>
      </div>
      <div class="loginWords">
        <a>ĐĂNG NHẬP</a>
      </div>
    </div>
  </div>


</div>

