
.header_content{
  position: relative;
  background-color: #009cd7;
  height:100px;
  .menu_left{
    // background-color:antiquewhite;
    width: 600px;
    height: 100%;
    margin-left: 0px;
    float: left;
    .categories{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .categories_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .categoriesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .utilities{
      width: 120px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .utilities_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .utilitiesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .forYou{
      width: 150px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .forYou_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .forYouWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .job{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;

      .job_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .jobWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }

  }
  .menu_center{
    background-color:rgb(199, 113, 0);
    width: 400px;
    height: 100%;
    margin-left: 0px;
    float: left;
  }
  .menu_right{
    // background-color:rgb(172, 130, 130);
    width: 530px;
    height: 100%;
    margin-left: 68px;
    float: left;

    .categories{
      width: 110px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .categories_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .categoriesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .utilities{
      width: 150px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .utilities_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .utilitiesWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .forYou{
      width: 120px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;
      border-right: #bac9cf 1.5px solid;
      .forYou_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .forYouWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
    .job{
      width: 140px;
      height:70%;
      // background-color:#009cd7;
      margin-right: 0px;
      float:left;
      margin-top:12px;

      .job_icon{
        width: 100%;
        height:50%;
        background-color: #4ca6cc;
      }
      .jobWords{
        width: 100%;
        height:40%;
        // background-color: #d3e6ee;
        margin-top: 10px;
        a{
          margin-left:20px;
          margin-top: 20px !important;
          color: white !important;
        }
      }
    }
  }
}
