<div class="site-header__content">
  <ul class="site-header__tool left btn-group">
    <li class = "item item--dm dropdown">
      <a href="" class="parent dropbtn active">
        <i class="fas fa-bars"></i>
        <span>CHUYÊN MỤC</span>
      </a>
      <div class="dropdown-content">
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1 vfdgffg</a></td>
              <td class="titleItem"><a href="">link1 dfdfd dfdf sdsds</a></td>
            </tr>
          </table>
        </div>
        <div class="content">
          <table>
            <tr>
              <td class="title"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
              <td class="titleItem"><a href="">link1</a></td>
            </tr>
          </table>
        </div>


      </div>
    </li>
    <li class = "item item--ti">
      <a href="" class="parent">
        <i class="fas fa-puzzle-piece"></i>
        <span> TIỆN ÍCH</span>
      </a>
    </li>
    <li class = "item item--dcb">
      <a href="" class="parent">
        <i class="fab fa-buffer"></i>
        <span> DÀNH CHO BẠN</span>
      </a>
    </li>
    <li class = "item item--vl">
      <a href="" class="parent">
        <i class="fas fa-briefcase"></i>
        <span>VIỆC LÀM</span>
      </a>
    </li>
  </ul>
  <h1 class = "logo">
    <a href="" class = "logo-index">
     <b><span style="font-family: inherit;">TIN TỨC NHANH</span></b>
      <h6 style="font-size: 14px;">DIỄN ĐÀN TIN TỨC CỦA MỌI NHÀ</h6>
      <!-- <span class = "logo-chu">DIỄN ĐÀN CỦA HỘI LIÊN HIỆP THANH NÊN VIỆT NAM</span> -->
    </a>
  </h1>
  <ul class="site-header__tool right btn-group">
    <li class = "item item--tk">
      <a href="" class="parent">
        <i class="fas fa-search"></i>
        <span>TÌM KIẾM</span>
      </a>
    </li>
    <li class = "item item--bcb">
      <a href="" class="parent">
        <i class="far fa-lightbulb"></i>
        <span>BẠN CẦN BIẾT</span>
      </a>
    </li>
    <li class = "item item--lh">
      <a href="" class="parent">
        <i class="far fa-envelope"></i>
        <span>LIÊN HỆ</span>
      </a>
    </li>
    <li class = "item item--dn">
      <a href="" class="parent">
        <i class="far fa-user"></i>
        <span>ĐĂNG NHẬP</span>
      </a>
    </li>
  </ul>
</div>


