.container {
  width: 331px;
  height: 620px;
  background-color: white;
  margin-right: 0px;
  float: left;
  padding: 0px;
  margin-left: 20px;
  font-size: 15px;
  -webkit-box-shadow: 0 1px 7px #d9d9d9;
          box-shadow: 0 1px 7px #d9d9d9;
}

.container .news-container {
  width: 134px;
  height: 48px;
  background-color: white;
  margin-right: 0px;
}

.container .news-container h3 {
  margin-left: 23px;
  padding-top: 6px;
  border-bottom: 3px solid #00bfc5;
}

.container .story--text {
  width: 100%;
  height: 100%;
}

.container .story--text .meta {
  width: 85%;
  height: 110px;
  margin-left: 27px;
  padding-top: 12px;
  border-bottom: 0.5px solid #eee;
}

.container .story--text .meta .time {
  height: 100%;
  float: left;
  margin-right: 15px;
}

.container .story--text .meta a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.container .story--text .meta a:hover {
  color: #00bfc5;
}

.most-recent-area {
  width: 331px;
  height: 570px;
  background-color: white;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}

.most-recent-area .most-recent .most-recent-img {
  overflow: hidden;
  position: relative;
}

.most-recent-area .most-recent .most-recent-img::before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  content: "";
}

.most-recent-area .most-recent .most-recent-img img {
  width: 90%;
  margin-left: 15px;
  margin-bottom: 15px;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap {
  position: absolute;
  bottom: 0px;
  left: 31px;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap span {
  color: #ffff;
  margin-bottom: 19px;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap h4 a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap h4 a:hover {
  color: #00bfc5;
}

.most-recent-area .most-recent .most-recent-img .most-recent-cap p {
  color: #fff;
  font-size: 12px;
  margin-left: 10px;
}

.most-recent-area .most-recent-single {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.most-recent-area .most-recent-single .most-recent-images img {
  margin-left: 15px;
}

.most-recent-area .most-recent-single .most-recent-capt {
  padding-left: 18px;
}

.most-recent-area .most-recent-single .most-recent-capt h4 {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.most-recent-area .most-recent-single .most-recent-capt h4 a {
  font-weight: 500;
  line-height: 1.4;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.most-recent-area .most-recent-single .most-recent-capt h4 a:hover {
  color: #00bfc5;
}

.most-recent-area .most-recent-single .most-recent-capt p {
  color: #707b8e;
  font-size: 12px;
  margin: 0;
  line-height: 1;
}
/*# sourceMappingURL=tabs.component.css.map */