<div class="container">
  <div class="news-container">
    <h3>TIN MỚI</h3>
  </div>
  <div class="story--text">
    <div class="meta">
      <div class="time"><time>10:15</time></div>
      <div class="title">
        <a href=""> Làm sao để không bị lừa đảo tiêm chủng vắc xin phòng covid-19 giả mạo?</a>
      </div>
    </div>
    <div class="meta">
      <div class="time"><time>10:15</time></div>
      <div class="title">
        <a href=""> Làm sao để không bị lừa đảo tiêm chủng vắc xin phòng covid-19 giả mạo?</a>
      </div>
    </div>
    <div class="meta">
      <div class="time"><time>10:15</time></div>
      <div class="title">
        <a href=""> Làm sao để không bị lừa đảo tiêm chủng vắc xin phòng covid-19 giả mạo?</a>
      </div>
    </div>
    <div class="meta">
      <div class="time"><time>10:15</time></div>
      <div class="title">
        <a href=""> Làm sao để không bị lừa đảo tiêm chủng vắc xin phòng covid-19 giả mạo?</a>
      </div>
    </div>
    <div class="meta">
      <div class="time"><time>10:15</time></div>
      <div class="title">
        <a href=""> Làm sao để không bị lừa đảo tiêm chủng vắc xin phòng covid-19 giả mạo?</a>
      </div>
    </div>

  </div>

</div>

