
<div class="most-recent-area">
  <!-- Section Tittle -->
  <div class="small-tittle mb-20">
      <h4 style="font-weight: bold;margin: 10px 0px 20px 10px;">Gần đây nhất</h4>
  </div>
  <!-- Details -->
  <div class="most-recent mb-40">
      <div class="most-recent-img">
          <img src={{dataMostRecent[0]}} alt="">
          <div class="most-recent-cap">
              <h4><a href="latest_news.html"> {{dataMostRecent[1]}}<br>
                 </a></h4>
              <p>{{dataMostRecent[2]}}</p>
          </div>
      </div>
  </div>
  <!-- Single -->
  <div class="most-recent-single">
      <div class="most-recent-images">
          <img src={{dataMostRecent[3]}} alt="">
      </div>
      <div class="most-recent-capt">
          <h4><a href="latest_news.html">{{dataMostRecent[4]}}</a></h4>
          <p>{{dataMostRecent[5]}}</p>
      </div>
  </div>
  <!-- Single -->
  <div class="most-recent-single">
    <div class="most-recent-images">
        <img src={{dataQP[0]}} alt="">
    </div>
    <div class="most-recent-capt">
        <h4><a href="latest_news.html">{{dataQP[1]}}</a></h4>
        <p>{{dataQP[2]}}</p>
    </div>
</div>
  <!-- Single -->
  <div class="most-recent-single">
      <div class="most-recent-images">
          <img src={{dataMostRecent[6]}} alt="">
      </div>
      <div class="most-recent-capt">
          <h4><a href="latest_news.html">{{dataMostRecent[7]}}</a></h4>
          <p>{{dataMostRecent[8]}}</p>
      </div>
  </div>
   <!-- Single -->
  <div class="most-recent-single">
    <div class="most-recent-images">
        <img src={{dataQP[3]}} alt="">
    </div>
    <div class="most-recent-capt">
        <h4><a href="latest_news.html">{{dataQP[4]}}</a></h4>
        <p>{{dataQP[5]}}</p>
    </div>
  </div>
   <!-- Single -->
   <div class="most-recent-single">
    <div class="most-recent-images">
        <img src={{dataMostRecent[9]}} alt="">
    </div>
    <div class="most-recent-capt">
        <h4><a href="latest_news.html">{{dataMostRecent[10]}}</a></h4>
        <p>{{dataMostRecent[11]}}</p>
    </div>
</div>
 <!-- Single -->
 <div class="most-recent-single">
  <div class="most-recent-images">
      <img src={{dataQP[6]}} alt="">
  </div>
  <div class="most-recent-capt">
      <h4><a href="latest_news.html">{{dataQP[7]}}</a></h4>
      <p>{{dataQP[8]}}</p>
  </div>
</div>
<div class="most-recent-single">
  <div class="most-recent-images">
      <img src={{dataMostRecent[27]}} alt="">
  </div>
  <div class="most-recent-capt">
      <h4><a href="latest_news.html">{{dataMostRecent[28]}}</a></h4>
      <p>{{dataMostRecent[29]}}</p>
  </div>
</div>
<div class="most-recent-single">
  <div class="most-recent-images">
      <img src={{dataQP[9]}} alt="">
  </div>
  <div class="most-recent-capt">
      <h4><a href="latest_news.html">{{dataQP[10]}}</a></h4>
      <p>{{dataQP[11]}}</p>
  </div>
</div>
<div class="most-recent-single">
  <div class="most-recent-images">
      <img src={{dataMostRecent[24]}} alt="">
  </div>
  <div class="most-recent-capt">
      <h4><a href="latest_news.html">{{dataMostRecent[25]}}</a></h4>
      <p>{{dataMostRecent[26]}}</p>
  </div>
</div>
</div>
<div class="single-follow mb-45">
  <div class="single-box">
      <div class="follow-us d-flex align-items-center">
          <div class="follow-social">
              <a href="#"><img src="assets/images/icon-fb.png" alt=""></a>
          </div>
          <div class="follow-count">
              <span>8,045</span>
              <p>Fans</p>
          </div>
      </div>
      <div class="follow-us d-flex align-items-center">
          <div class="follow-social">
              <a href="#"><img src="assets/images/icon-tw.png" alt=""></a>
          </div>
          <div class="follow-count">
              <span>8,045</span>
              <p>Fans</p>
          </div>
      </div>
          <div class="follow-us d-flex align-items-center">
          <div class="follow-social">
              <a href="#"><img src="assets/images/icon-ins.png" alt=""></a>
          </div>
          <div class="follow-count">
              <span>8,045</span>
              <p>Fans</p>
          </div>
      </div>
      <div class="follow-us d-flex align-items-center">
          <div class="follow-social">
              <a href="#"><img src="assets/images/icon-yo.png" alt=""></a>
          </div>
          <div class="follow-count">
              <span>8,045</span>
              <p>Fans</p>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="news-container">
    <h3>Tin công nghệ</h3>
  </div>
  <div class="news-container2">
  </div>
  <div class="story--text">
    <div class="meta">
      <div class="title">
        <a href=""> {{dataCN[1]}}</a>
      </div>
      <div class="time"><time>{{dataCN[2]}}</time></div>
    </div>
    <div class="meta">

      <div class="title">
        <a href="">  {{dataCN[4]}}</a>
      </div>
      <div class="time"><time>{{dataCN[5]}}</time></div>
    </div>
    <div class="meta">
      <div class="title">
        <a href="">  {{dataCN[7]}}</a>
      </div>
      <div class="time"><time>{{dataCN[8]}}</time></div>
    </div>
    <div class="meta">
      <div class="title">
        <a href="">  {{dataCN[10]}}</a>
      </div>
      <div class="time"><time>{{dataCN[11]}}</time></div>
    </div>
  </div>
</div>


