<div class="container">

  <!-- <div style="width: 500px; height: 1000px; margin-top: 100px;">
    <div [innerHTML]="descipt[0]"></div> <br/>
    <div [innerHTML]="descipt[1]"></div><br/>
    <div [innerHTML]="descipt[2]"></div><br/>
    <div [innerHTML]="descipt[3]"></div><br/>
    <div [innerHTML]="htmls[1]"></div><br/>
  </div> -->

 <app-hot-news></app-hot-news>
 <app-advertisement></app-advertisement>
 <app-under-the-ad></app-under-the-ad>
 <app-news></app-news>
 <app-footer></app-footer>



</div>
