<div class="footer">
    <table>
        <td>
            <tr><a href="">Tin 24H</a></tr>
            <tr><a href="">Tin nhanh 360</a></tr>
            <tr><a href="">Tin thị trường</a></tr>
            <tr><a href="">Dành cho bạn</a></tr>
            <tr><a href="">Video</a></tr>
        </td>
        <td>
            <tr><a href="">Tin 24H</a></tr>
            <tr><a href="">Tin nhanh 360</a></tr>
            <tr><a href="">Tin thị trường</a></tr>
            <tr><a href="">Dành cho bạn</a></tr>
            <tr><a href="">Video</a></tr>
        </td>
        <td>
            <tr><a href="">Tin 24H</a></tr>
            <tr><a href="">Tin nhanh 360</a></tr>
            <tr><a href="">Tin thị trường</a></tr>
            <tr><a href="">Dành cho bạn</a></tr>
            <tr><a href="">Video</a></tr>
        </td>
        <td>
            <tr><a href="">Tin 24H</a></tr>
            <tr><a href="">Tin nhanh 360</a></tr>
            <tr><a href="">Tin thị trường</a></tr>
            <tr><a href="">Dành cho bạn</a></tr>
            <tr><a href="">Video</a></tr>
        </td>
    </table>
    <div class="info">
        <div class="left">
            <div class="contact">
                <h2>Liên hệ</h2>
                <p>Hotline : <span>00795638</span></p>
                <p> Liên hệ quảng cáo : <span>00795638</span></p>
                <div class="social-media ">
                   
                        <!-- Facebook -->
                        <a class="btn btn-primary m-3 " style="background-color: rgb(59, 89, 152); width: 70px;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                
                      
                        <!-- Instagram -->
                        <a class="btn btn-primary m-3" style="background-color: #ac2bac;width: 70px;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                
                       
                
                        <!-- Youtube -->
                        <a class="btn btn-primary m-3" style="background-color: #ed302f;width: 70px;" href="#!" role="button"><i class="fab fa-youtube"></i></a>
                
                        
                        <!-- Whatsapp -->
                        <a class="btn btn-primary m-3" style="background-color: #25d366;width: 70px;" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
                   
                </div>
            </div>
        </div>
        <div class="right">
            <nav class="site-footer__tool">
                <a href="https://datbao.thanhnien.vn" target="_blank">Đặt báo</a>
                <a href="https://quangcao.thanhnien.vn/">Quảng cáo</a>
                <a href="/rss.html">RSS</a>
                <a href="/toa-soan.html">Thông tin tòa soạn</a>
            </nav>
            Tổng biên tập: <strong>Trương Văn Xinh</strong> <br>
            Phó tổng biên tập thường trực: <strong>Bùi Anh Tuấn</strong> <br>
            Phó tổng biên tập: <strong>Hà Yến</strong> <br>

        </div>
    </div>
</div>