.footer-area{
  background: #00bfc5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;
  .single-footer-caption{
      .footer-pera{
           .info2{
              font-size: 14px;

          }
          &.footer-pera2 p{
              line-height: 1.9;
              padding: 0;
              font-size: 14px;

          }
      }
      .footer-tittle{
          & h4{
              color: #fff;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 22px;
              margin-bottom: 5px;
              font-weight: 700;
              text-transform: normal;
          }
      }
      .whats-right-single{
          display: flex;
          align-items: center;
          text-decoration: none;
          .whats-right-img{
              img{
                  width: 80px;
                  height: 80px;
                  object-fit: cover;
              }
          }
          .whats-right-cap{
              padding-left: 18px;
              margin-top: 25px;
              h4{
                  font-size: 14px;
                  font-weight: bold;


                  a{
                    text-decoration: none;
                      font-weight: 500;
                      line-height:1.4;
                      color: #fff;
                      &:hover{
                          color: black;
                      }
                  }
              }
              p{
                  color:white;
                  font-size: 12px;
                  line-height: 1;
              }
          }
      }
  }
}
.footer-bottom-area{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: right;
    margin-top: -40px;
    a{
      text-decoration: none;
      margin-left: 10px;
      font-weight: bold;
      color: white;

    }
    :hover{
      color: #018f94;
    }
}

