
<div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="news-slider">
        <div class="slide">
          <img src="{{dataItem[0]}}">
          <div class="most-recent-cap">
            <h4><a href="latest_news.html">{{dataItem[1]}}</a></h4>
            <p>{{dataItem[2]}}</p>
        </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="news-slider">
        <div class="slide"><img src="{{dataItem[30]}}">
          <div class="most-recent-cap">
            <h4><a href="latest_news.html">{{dataItem[31]}}</a></h4>
            <p>{{dataItem[32]}}</p>
        </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="news-slider">
        <div class="slide"><img src="{{dataItem[60]}}">
          <div class="most-recent-cap">
            <h4><a href="latest_news.html">{{dataItem[61]}}</a></h4>
            <p>{{dataItem[62]}}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
