.picsum-img-wrapper{
  height: 390px;
    width: 650px;
    img{
      height: 390px;
      width: 650px;
    }
}
.carousel-caption{
  text-align: left;
  width: 600px;
  a{
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 65px;
    color: white;
    margin-left: -75px;
  }
  p{
    font-size: 12px;
    margin-bottom: -25px;
    margin-left: -70px;
  }
}


