
<div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <div class="news-slider"*ngFor="let data of dataItem; let i = index">
        <div class="slide" *ngIf="i==9">
          <img src="{{data.image}}">
          <div class="most-recent-cap"  *ngIf="i==9">
            <h4><a href="{{data.link}}" target="blank">{{data.title}}</a></h4>
            <p>{{data.time}}</p>
        </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" >
      <div class="news-slider" *ngFor="let data of dataItem; let i = index">
        <div class="slide" *ngIf="i==8">
          <img src="{{data.image}}">
          <div class="most-recent-cap">
            <h4><a href="{{data.link}}" target="blank">{{data.title}}</a></h4>
            <p>{{data.time}}</p>
        </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="news-slider" *ngFor="let data of dataItem; let i = index">
        <div class="slide"  *ngIf="i==7">
          <img src="{{data.image}}">
          <div class="most-recent-cap" *ngIf="i==7">
            <h4><a href="{{data.link}}" target="blank">{{data.title}}</a></h4>
            <p>{{data.time}}</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

