.carousel slide{
  width: auto;
  padding-left: 50px;
  position: absolute;
  height:auto;
}
.news-slider {

  margin-top: 0px;
  img{
    height: 390px;
    width: 650px;
    object-fit: cover;
    overflow:hidden;
    opacity: 3.0;
  }
  .most-recent-cap{
    position: absolute;
    bottom: 0px;
    left: 31px;
    width: 475px;
    span{
        color: #ffff;
        margin-bottom: 19px;
    }
    h4{
      margin-bottom: 5px;
        font-size: 20px;
       a{
            color: white;
            text-decoration: none;
            font-weight: 700;
            &:hover{
                color: #00bfc5;
            }
       }
    }
    p{
        color: #fff;
         font-size: 12px;
         margin-left: 10px;
         font-weight: bold;
    }
}
}


