 <!-- Whats New Start -->
 <section class="whats-news-area pt-50 pb-20 gray-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
          <div class="whats-news-wrapper">
              <!-- Heading & Nav Button -->
              <div class="row justify-content-between align-items-end mb-15">
                  <div class="col-xl-4">
                      <div class="section-tittle mb-30">
                          <h3 style="font-weight: bold; font-size: 25px; margin-bottom: 30px;width: 100px;">Tin mới nhất</h3>
                      </div>
                  </div>
                  <div class="col-xl-8 col-md-9">
                      <div class="properties__button">
                          <!--Nav Button  -->
                          <nav>
                              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cuộc sống</a>
                                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Du lịch</a>
                                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Thời trang</a>
                                  <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Thể thao</a>
                                  <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab" aria-controls="nav-contact" aria-selected="false">Công nghệ</a>
                              </div>
                          </nav>
                          <!--End Nav Button  -->
                      </div>
                  </div>
              </div>
              <!-- Tab content -->
              <div class="row">
                  <div class="col-12">
                      <!-- Nav Card -->
                      <div class="tab-content" id="nav-tabContent">
                          <!-- card one -->
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="whats-news-single mb-40 mb-40">
                                          <div class="whates-img">
                                              <img src= {{dataItem[0]}}  alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="latest_news.html">{{dataItem[1]}} </a></h4>
                                              <span>{{dataItem[2]}}</span>
                                            <p> phần nội dung chỗ này t đang kiếm cách để lấy nhe! </p>
                                            </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[3]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[4]}}</a></h4>
                                                      <p>{{dataItem[5]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[6]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[7]}}</a></h4>
                                                      <p>{{dataItem[8]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[9]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[10]}}</a></h4>
                                                      <p>{{dataItem[11]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[13]}}</a></h4>
                                                      <p>{{dataItem[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Card two -->
                          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataItem[30]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataItem[31]}}</a></h4>
                                              <span>{{dataItem[32]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[33]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[34]}}</a></h4>
                                                      <p>{{dataItem[35]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[36]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[37]}}</a></h4>
                                                      <p>{{dataItem[38]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[39]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[40]}}</a></h4>
                                                      <p>{{dataItem[41]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[42]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[43]}}</a></h4>
                                                      <p>{{dataItem[44]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Card three -->
                          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataItem[60]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataItem[61]}}</a></h4>
                                              <span>{{dataItem[62]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[63]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[64]}}</a></h4>
                                                      <p>{{dataItem[65]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[66]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[67]}}</a></h4>
                                                      <p>{{dataItem[68]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[69]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[70]}}</a></h4>
                                                      <p>{{dataItem[71]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[72]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[73]}}</a></h4>
                                                      <p>{{dataItem[74]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- card fure -->
                          <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataItem[93]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataItem[94]}}</a></h4>
                                              <span>{{dataItem[95]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[96]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[97]}}</a></h4>
                                                      <p>{{dataItem[98]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[99]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[100]}}</a></h4>
                                                      <p>{{dataItem[101]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[102]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[103]}}</a></h4>
                                                      <p>{{dataItem[104]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[105]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[106]}}</a></h4>
                                                      <p>{{dataItem[107]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- card Five -->
                          <div class="tab-pane fade" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataItem[120]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataItem[121]}}</a></h4>
                                              <span>{{dataItem[122]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[123]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[124]}}</a></h4>
                                                      <p>{{dataItem[125]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[126]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[127]}}</a></h4>
                                                      <p>{{dataItem[128]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[129]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[130]}}</a></h4>
                                                      <p>{{dataItem[131]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataItem[132]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataItem[133]}}</a></h4>
                                                      <p>{{dataItem[134]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <!-- End Nav Card -->
                  </div>
              </div>
          </div>

          </div>
      </div>
  </div>
</section>
<!-- Whats New End -->
