.feature_container{
  width: 383px;
  height:630px;
  margin-top: 20px;
  margin-right: 0px;
  float: left;

  .story--primary{
    width:100%;height:110px;
    margin-bottom: 20px;
    background-color:white;
    box-shadow: 0 1px 7px #d9d9d9;

  }
    .imgnews{
      width:155px;
      height:110px;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h2{
      width:200px;
      height: 52px;
      float: left;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 0px;
      font-size:15px;
      .shorten{
        width: 100%;
        color: #333;
        text-decoration: none;
      }
      .shorten:hover{
        color: #007bff;
      }
    }
    .meta{
      width:200px;
      height:30px;
      float: left;
      margin-left: 20px;
      margin-top:10px;
      color: #888;
      font-size:14px;
      .time{
        width:108px;
        float: left;
      }
      .number{
        float: left;
        width:10px;
      }
      .far{
        float: left;
        margin-top: 5px;
        margin-right: 5px;
      }

    }
  }


