 <!-- Whats New Start -->
 <section class="whats-news-area pt-50 pb-20 gray-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
          <div class="whats-news-wrapper">
              <!-- Heading & Nav Button -->
              <div class="row justify-content-between align-items-end mb-15">
                  <div class="col-xl-4">
                      <div class="section-tittle mb-30">
                          <h3 style="font-weight: bold; font-size: 25px; margin-bottom: 30px;width: 100px;">Tin mới nhất</h3>
                      </div>
                  </div>
                  <div class="col-xl-8 col-md-9">
                      <div class="properties__button">
                          <!--Nav Button  -->
                          <nav>
                              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Cuộc sống</a>
                                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Du lịch</a>
                                  <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Thời trang</a>
                                  <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Thể thao</a>
                                  <a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab" aria-controls="nav-contact" aria-selected="false">Công nghệ</a>
                              </div>
                          </nav>
                          <!--End Nav Button  -->
                      </div>
                  </div>
              </div>
              <!-- Tab content -->
              <div class="row">
                  <div class="col-12">
                      <!-- Nav Card -->
                      <div class="tab-content" id="nav-tabContent">
                          <!-- card one -->
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="whats-news-single mb-40 mb-40">
                                          <div class="whates-img">
                                              <img src={{dataLife[24]}}   alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="latest_news.html">{{dataLife[25]}} </a></h4>
                                              <span>{{dataLife[26]}}</span>
                                            <p> phần nội dung chỗ này t đang kiếm cách để lấy nhe! </p>
                                            </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataLife[18]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataLife[19]}}</a></h4>
                                                      <p>{{dataLife[20]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataLife[21]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataLife[22]}}</a></h4>
                                                      <p>{{dataLife[23]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataLife[27]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataLife[28]}}</a></h4>
                                                      <p>{{dataLife[29]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataLife[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataLife[13]}}</a></h4>
                                                      <p>{{dataLife[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Card two -->
                          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataTravel[27]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataTravel[28]}}</a></h4>
                                              <span>{{dataTravel[29]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTravel[24]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTravel[25]}}</a></h4>
                                                      <p>{{dataTravel[26]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTravel[6]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTravel[7]}}</a></h4>
                                                      <p>{{dataTravel[8]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTravel[9]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTravel[10]}}</a></h4>
                                                      <p>{{dataTravel[11]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTravel[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTravel[13]}}</a></h4>
                                                      <p>{{dataTravel[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- Card three -->
                          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataFashion[0]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataFashion[1]}}</a></h4>
                                              <span>{{dataFashion[2]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataFashion[3]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataFashion[4]}}</a></h4>
                                                      <p>{{dataFashion[5]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataFashion[6]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataFashion[7]}}</a></h4>
                                                      <p>{{dataFashion[8]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataFashion[9]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataFashion[10]}}</a></h4>
                                                      <p>{{dataFashion[11]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataFashion[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataFashion[13]}}</a></h4>
                                                      <p>{{dataFashion[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- card fure -->
                          <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataSport[3]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataSport[4]}}</a></h4>
                                              <span>{{dataSport[5]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataSport[6]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataSport[7]}}</a></h4>
                                                      <p>{{dataSport[8]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataSport[9]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataSport[10]}}</a></h4>
                                                      <p>{{dataSport[11]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataSport[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataSport[13]}}</a></h4>
                                                      <p>{{dataSport[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataSport[15]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataSport[16]}}</a></h4>
                                                      <p>{{dataSport[17]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- card Five -->
                          <div class="tab-pane fade" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
                              <div class="row">
                                  <!-- Left Details Caption -->
                                  <div class="col-xl-6">
                                      <div class="whats-news-single mb-40">
                                          <div class="whates-img">
                                              <img src={{dataTechnology[0]}} alt="">
                                          </div>
                                          <div class="whates-caption">
                                              <h4><a href="#">{{dataTechnology[1]}}</a></h4>
                                              <span>{{dataTechnology[2]}}</span>
                                              <p>phần nội dung chỗ này t đang kiếm cách để lấy nhe!</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- Right single caption -->
                                  <div class="col-xl-6 col-lg-12">
                                      <div class="row">
                                          <!-- single -->
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTechnology[3]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTechnology[4]}}</a></h4>
                                                      <p>{{dataTechnology[5]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTechnology[6]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTechnology[7]}}</a></h4>
                                                      <p>{{dataTechnology[8]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTechnology[9]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTechnology[10]}}</a></h4>
                                                      <p>{{dataTechnology[11]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                              <div class="whats-right-single mb-20">
                                                  <div class="whats-right-img">
                                                      <img src={{dataTechnology[12]}} alt="">
                                                  </div>
                                                  <div class="whats-right-cap">
                                                      <h4><a href="latest_news.html">{{dataTechnology[13]}}</a></h4>
                                                      <p>{{dataTechnology[14]}}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <!-- End Nav Card -->
                  </div>
              </div>
          </div>

          </div>
      </div>
  </div>
</section>
<!-- Whats New End -->
