<div class="feature_container">
  <div class="story story--primary">
    <a href="" class="imgnews">
      <img src="https://image.thanhnien.vn/150x100/uploaded/minhhai/2021_06_19/4_rihi.jpg">
    </a>
    <h2>
      <a href="" class = "shorten">
        <span class="shorten">Thanh Hóa: Ghi nhận ca Covid-19 sau 40 ngày cách ly tập trung</span>
      </a>
    </h2>
    <div class="meta">
      <a class="time">1 tiếng trước -</a>
      <i class="far fa-comment"></i>
      <a class="number">0</a>
    </div>
  </div>
  <div class="story story--primary">
    <a href="" class="imgnews">
      <img src="https://image.thanhnien.vn/150x100/uploaded/minhhai/2021_06_19/4_rihi.jpg">
    </a>
    <h2>
      <a href="" class = "shorten">
        <span class="shorten">Thanh Hóa: Ghi nhận ca Covid-19 sau 40 ngày cách ly tập trung</span>
      </a>
    </h2>
    <div class="meta">
      <a class="time">1 tiếng trước -</a>
      <i class="far fa-comment"></i>
      <a class="number">0</a>
    </div>
  </div>
  <div class="story story--primary">
    <a href="" class="imgnews">
      <img src="https://image.thanhnien.vn/150x100/uploaded/minhhai/2021_06_19/4_rihi.jpg">
    </a>
    <h2>
      <a href="" class = "shorten">
        <span class="shorten">Thanh Hóa: Ghi nhận ca Covid-19 sau 40 ngày cách ly tập trung</span>
      </a>
    </h2>
    <div class="meta">
      <a class="time">1 tiếng trước -</a>
      <i class="far fa-comment"></i>
      <a class="number">0</a>
    </div>
  </div>
  <div class="story story--primary">
    <a href="" class="imgnews">
      <img src="https://image.thanhnien.vn/150x100/uploaded/minhhai/2021_06_19/4_rihi.jpg">
    </a>
    <h2>
      <a href="" class = "shorten">
        <span class="shorten">Thanh Hóa: Ghi nhận ca Covid-19 sau 40 ngày cách ly tập trung</span>
      </a>
    </h2>
    <div class="meta">
      <a class="time">1 tiếng trước -</a>
      <i class="far fa-comment"></i>
      <a class="number">0</a>
    </div>
  </div>
  <div class="story story--primary">
    <a href="" class="imgnews">
      <img src="https://image.thanhnien.vn/150x100/uploaded/minhhai/2021_06_19/4_rihi.jpg">
    </a>
    <h2>
      <a href="" class = "shorten">
        <span class="shorten">Thanh Hóa: Ghi nhận ca Covid-19 sau 40 ngày cách ly tập trung</span>
      </a>
    </h2>
    <div class="meta">
      <a class="time">1 tiếng trước -</a>
      <i class="far fa-comment"></i>
      <a class="number">0</a>
    </div>
  </div>
</div>
