<div class="container-under-left">
  <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let data of DataSlide; let i = index">
      <div class="picsum-img-wrapper">
        <img src="{{data.image}}" alt="">
      </div>
      <div class="carousel-caption">
        <a href="{{data.link}}" target="blank">{{data.title}}</a>
        <p>{{data.time}}</p>
      </div>
    </ng-template>
  </ngb-carousel>


<!-- hết thẻ đầu tiên  -->
<!-- thẻ thứ 2  -->
  <div class="content">
    <!-- 1 -->
    <div class="feature">
      <div class="most-recent-single-1"*ngFor="let data of Datanew; let i = index;">
        <div class="most-recent-single" *ngIf="i <5">
          <article class="most-recent-images">
              <img src="{{data.image}}">
          </article>
          <div class="most-recent-capt">
            <h4><a href="{{data.link}}" target="blank" > {{data.title}}</a></h4>
            <p>{{data.time}}</p>
          </div>
        </div>
      </div>
  </div>
<!-- thẻ tin mới -->
    <div class="new">
      <div class="news-container">
        <h3>Tin mới</h3>
      </div>
      <div class="news-container2">
      </div>
      <div class="story--text">
        <div class="meta" *ngFor="let data of Datanewhot; let i=index" >
          <div class="title">
            <a href="{{data.link}}" target="blank">{{data.title}}</a>
          </div>
          <div class="time"><time>{{data.time}}</time></div>
        </div>
      </div>
    </div>
  </div>
<!-- kt thẻ tin mới -->

<div class="category" style="margin-top: -25px;">
  <app-cate-list></app-cate-list>
</div>
<div class="hotnew">
 <app-hot-new></app-hot-new>
</div>

</div>
