<div class="container-under-left">
  <!--  thẻ đầu tiên -->
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="4000">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="news-slider">
          <div class="slide">
            <img src="https://image2.thanhnien.vn/c660x370/0,8,0,100/Uploaded/dieutrang.qc/2019_03_31/bvu/ava_WYTA.jpg">
            <div class="most-recent-cap">
              <h4><a href="latest_news.html">Báo cáo ‘đặc biệt’ tại Hội nghị quốc tế máy tính thế hệ mới lần thứ 4</a></h4>
              <p>11</p>
          </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="news-slider">
          <div class="slide"><img src="https://image2.thanhnien.vn/c660x370/0,8,0,100/Uploaded/dieutrang.qc/2019_03_31/bvu/ava_WYTA.jpg">
            <div class="most-recent-cap">
              <h4><a href="latest_news.html">Báo cáo ‘đặc biệt’ tại Hội nghị quốc tế máy tính thế hệ mới lần thứ 4</a></h4>
              <p>12</p>
          </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="news-slider">
          <div class="slide"><img src="https://image2.thanhnien.vn/c660x370/0,8,0,100/Uploaded/dieutrang.qc/2019_03_31/bvu/ava_WYTA.jpg">
            <div class="most-recent-cap">
              <h4><a href="latest_news.html">Báo cáo ‘đặc biệt’ tại Hội nghị quốc tế máy tính thế hệ mới lần thứ 4</a></h4>
              <p>1 tiếng</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- hết thẻ đầu tiên  -->
<!-- thẻ thứ 2  -->
  <div class="content">
    <!-- 1 -->
    <div class="feature">
      <div class="most-recent-single">
        <article class="most-recent-images">
            <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2019_03_25/tram/2_htna.jpg">
        </article>

          <div class="most-recent-capt">
            <h4><a href="">Giá trị thực của trầm hương - hiểu sao cho đúng</a></h4>
            <p>1 tiếng</p>
          </div>
      </div>
      <!-- 2 -->
      <div class="most-recent-single">
        <article class="most-recent-images">
            <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2019_03_25/tram/2_htna.jpg">
        </article>

          <div class="most-recent-capt">
            <h4><a href="">Giá trị thực của trầm hương - hiểu sao cho đúng</a></h4>
            <p>1 tiếng</p>
          </div>
      </div>
      <!-- 3 -->
      <div class="most-recent-single">
        <article class="most-recent-images">
            <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2019_03_25/tram/2_htna.jpg">
        </article>

          <div class="most-recent-capt">
            <h4><a href="">Giá trị thực của trầm hương - hiểu sao cho đúng</a></h4>
            <p>1 tiếng</p>
          </div>
      </div>
      <!-- 4 -->
      <div class="most-recent-single">
        <article class="most-recent-images">
            <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2019_03_25/tram/2_htna.jpg">
        </article>

          <div class="most-recent-capt">
            <h4><a href="">Giá trị thực của trầm hương - hiểu sao cho đúng</a></h4>
            <p>1 tiếng</p>
          </div>
      </div>
       <!-- 5 -->
      <div class="most-recent-single">
        <article class="most-recent-images">
            <img src="https://image.thanhnien.vn/150x100/uploaded/dieutrang.qc/2019_03_25/tram/2_htna.jpg">
        </article>

          <div class="most-recent-capt">
            <h4><a href="">Giá trị thực của trầm hương - hiểu sao cho đúng</a></h4>
            <p>1 tiếng</p>
          </div>
      </div>
  </div>
<!-- thẻ tin mới -->
    <div class="new">
      <div class="news-container">
        <h3>Tin mới</h3>
      </div>
      <div class="news-container2">
      </div>
      <div class="story--text">
        <div class="meta">
          <div class="title">
            <a href="">Pacific Land Việt Nam tặng 3.000 suất quà cho người khó khăn vì Covid-19 </a>
          </div>
          <div class="time"><time>11/12/2000</time></div>
        </div>
        <div class="meta">
          <div class="title">
            <a href="">Pacific Land Việt Nam tặng 3.000 suất quà cho người khó khăn vì Covid-19 </a>
          </div>
          <div class="time"><time>11/12/2000</time></div>
        </div>
        <div class="meta">
          <div class="title">
            <a href="">Pacific Land Việt Nam tặng 3.000 suất quà cho người khó khăn vì Covid-19 </a>
          </div>
          <div class="time"><time>11/12/2000</time></div>
        </div>
        <div class="meta">
          <div class="title">
            <a href="">Pacific Land Việt Nam tặng 3.000 suất quà cho người khó khăn vì Covid-19 </a>
          </div>
          <div class="time"><time>11/12/2000</time></div>
        </div>
        <div class="meta">
          <div class="title">
            <a href="">Pacific Land Việt Nam tặng 3.000 suất quà cho người khó khăn vì Covid-19 </a>
          </div>
          <div class="time"><time>11/12/2000</time></div>
        </div>

      </div>
    </div>
  </div>
<!-- kt thẻ tin mới -->
<div class="category">
  <app-cate-list></app-cate-list>
</div>
  
</div>
