.container{
  width:110px;
  height:100%;
  background-color:white;

  margin-left:0px;
  margin-left: 1155px;

}
img{
  position: fixed;
  top: 85px;
  left: 1165px;
  z-index: 100;
  width: 90px;
  height:500px;
  padding-top: 40px;
  padding-left: 0px;
}
