.cate-list {
    display: flexbox;
    margin: 0px;
    height: 910px;
    width: 1000px;
    padding-top: 50px;
    margin-bottom: 10px;
    .cate {
        float: left;
        height: 500px;
        width: 300px;

        border-top: 2px solid rgb(0, 162, 255);
        margin: 15px;
        padding-right: 15px;
        background: rgb(244, 247, 247);
        box-shadow: 0 2px 3px rgb(199, 197, 197);
        overflow-y: hidden;
        &:hover{
            padding-right: 11px;
            overflow-y: scroll;
            &::-webkit-scrollbar{
              width: 4px;
              background: grey;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
              background-color: #00bfc5; }
              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
                background-color: #F5F5F5;
                border-radius: 10px; }
          }
        .cate-name {
            font-size: 20px;
            text-decoration: none;
            list-style: none;
            margin: 15px;
            text-transform: uppercase;
            font-style: inherit;
            font-family: NotoSerif;
            font-weight: 700;
            &:hover {
                color: #333;
            }
        }
        .content {
            margin-left: 15px;
            display: block;

            .first-new {
                height: 260px;
                margin-bottom: 5px;
                img {
                    width: 100%;
                    height: 165px;
                    vertical-align: middle;
                }
                .title {
                    text-decoration: none;
                    a {
                        font-size: 15px;
                        color: black;
                        text-align: left;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        text-decoration: none;

                        &:hover{
                            color: #00bfc5;
                        }
                    }
                }
                .time{
                    float: left;
                    margin-right:10px;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
            .new{
                height: 95px;
               border-top:0.5px solid rgb(211, 208, 208) ;
                .title-new{
                    text-align: left;
                    a{
                        font-size: 13px;
                        color: black;
                        // text-align: left;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                        text-decoration: none;

                        &:hover{
                            color: #00bfc5;
                        }
                    }
                }
                .time{
                    float: left;
                    margin-right:10px;
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
    }
}

