<div class="cate-list">
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time">
                    <time>11/12/2000</time>
                </div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
    <div class="cate">
        <h3><a href="" class="cate-name">TUYỂN DỤNG</a></h3>
        <div class="content">
            <div class="first-new">
                <img data-src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    alt="CEO Hậu Nguyễn - SexybrowGH xu hướng toàn cầu của ngành phun xăm thẩm mỹ" class="loaded"
                    src="https://image.thanhnien.vn/215x140/uploaded/quochung.qc/2021_02_03/sexybrowgh/2_prqk.png"
                    data-was-processed="true">
                <div class="title">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
            <div class="new">
                <div class="title-new">
                    <a href="">Tất cá chúng ta sẽ có được ngày hôm nay là nhờ vào gia đình</a>
                </div>
                <div class="time"><time>11/12/2000</time></div>
            </div>
        </div>
    </div>
</div>