<!DOCTYPE HTML>
<!doctype html>
<html lang="en">
<head>
	<title>Đồng Hồ Thời Thượng</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" type="image/x-icon" href="images/fav.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,100italic,300italic,400italic'
		rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/jackbox/css/jackbox.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="plugins/rs-plugin/css/settings.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/colorpicker/colorpicker.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/theme-animate.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="plugins/jquery.queryloader2.min.js"></script>
	<script src="plugins/modernizr.js"></script>

</head>
<body class="">
	<div class="wide_layout bg_light">
		<div class="bg_top">
			<header role="banner" class="relative banner">
				<section class="header_top_part">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 t_align_r t_xs_align_c">
								<ul class="hr_list fs_small color_grey_light">
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="mailto:#" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-phone-alt" style="font-size: 20px;color: red;"></i><Span>
												Mua hàng</Span></a>
									</li>
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="mailto:#" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-map-marker-alt"
												style="font-size: 20px;color: green;"></i><Span> Cửa hàng</Span></a>
									</li>
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="login.html" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-user" style="font-size: 20px;color: blue;"></i><Span> Đăng
												nhập</Span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div
							class="pt30 pb30 col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
							<a href="index.html" class="d_inline_m m_xs_top_20 m_xs_bottom_20">
								<img src="images/logo.png" alt="">
							</a>
						</div>
						<div
							class="mb15 t_align_r col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
							<input type="text" class="txtsearch" placeholder="Nhập model cần tìm">
							<button style="vertical-align: bottom;"
								class="icon_wrap_size_2 active color_grey_light_2 tr_all color_purple_hover"><i
									class="icon-search"></i></button>
						</div>
					</div>
				</div>
				<section class="header_bottom_part ">
					<div class="container bg_menu" id="cnt" style="margin: auto;width: 1400px;">
						<div class="d_table w_full d_xs_block" style="width: 1400px;margin: auto;">

							<div class="col-lg-9 col-md-9 col-sm-12 t_align_l d_table_cell d_xs_block f_none"
								style="padding-right: 0px;width: 500px;">
								<div class="relative clearfix t_align_l">
									<button id="menu_button"
										class="r_corners tr_all color_blue db_centered m_bottom_20 d_none d_xs_block">
										<i class="icon-menu"></i>
									</button>
									<nav role="navigation"
										class="d_inline_m d_xs_none m_xs_right_0 m_right_15 t_align_l m_xs_bottom_15" id="naviga">
										<ul class="hr_list main_menu fw_light"  id="nav">
											<li class="current container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="index.html">TRANG CHỦ</a>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="pages_about.html">THƯƠNG HIỆU
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li>
														<a href="about.html" class="d_block color_dark relative">Về chúng tôi</a>
													</li>
													<li class="container3d relative">
														<a href="#" class="d_block color_dark relative">Hỗ trợ khách hàng
															<i class="icon-angle-right"></i>
														</a>
															<ul
															class="sub_menu bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
															<li><a href="tragop.html" class="d_block color_dark">Tìm hiểu về mua trả góp</a></li>
															<li><a href="baohanh.html" class="d_block color_dark">Tìm trung tâm bảo hành chính hãng</a>
															</li>
															<li><a href="chinhsach.html" class="d_block color_dark">Chính sách đổi trả</a></li>
															<li><a href="huongdan.html" class="d_block color_dark">Hướng dẫn mua online</a>
															</li>
															<li><a href="giaohang_thanhtoan.html" class="d_block color_dark">Giao hàng và thanh toán</a></li>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listmale.html">ĐỒNG HỒ NAM
													<i class="icon-angle-down d_inline_m r_xs_corners"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CITIZEN
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ROMANSON
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ORIENT
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listfemale.html">ĐỒNG HỒ NỮ
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CITIZEN
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ROMANSON
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ORIENT
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listchild.html">ĐỒNG HỒ TRẺ EM
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CHARACTER
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ TIMEX KIDS
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CANNIBAL
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="contact.html">LIÊN HỆ
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 t_align_r d_table_cell d_xs_block f_none"
								style="padding-left: 0px;">
								<div class="bg_cart" style="margin: 0%;padding-left: 0px;">
									<a class="color_dark" href="giohang.html"><i class="icon-basket"></i> Giỏ hàng:
										<b>0</b> Sản phẩm</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</header>
		</div>
		<div style="margin-top:15px;" class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_default d_inline_m m_right_10">Đồng hồ</a><i class="icon-angle-right d_inline_m color_default fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_default d_inline_m m_right_10">Giao hàng và thanh toán</a></li>
					</ul>
				</div><hr/>
			</div>
		</div>
			<div class="col-sm">
                <h2 style="text-align: center;">Cách thức thanh toán</h2>
				<div class="about-wrap" style="margin: 30px 100px 0px 100px; ">
					<p><b>*Thanh toán bằng tiền mặt</b></p>
					<p>&emsp;&emsp;<b>1. Tại cửa hàng: </b> Quý khách có thể đến mua hàng & thanh toán trực tiếp tại các siêu thị thuộc hệ thống thoithuongwatchstore.com</p>
					<p>&emsp;&emsp;<b>2. Tại nhà/nơi nhận hàng:</b> Thanh toán cho nhân viên giao hàng trực tiếp của thoithuongwatchstore.com tại bất kỳ đâu bạn yêu cầu (trong phạm vi 20KM tính từ cửa hàng Thời Thượng Watchstore có hàng).</p>
					<p><b>*Thanh toán bằng thẻ ATM, Visa, MasterCard</b></p>
					<p>&emsp;&emsp;<b>1. Tại cửa hàng:</b> Cà thẻ trực tiếp tại hệ thống thoithuongwatchstore.com trên toàn quốc.</p>
					<p>&emsp;&emsp;<b>2. Tại nhà/nơi nhận hàng:</b> Khách hàng vui lòng yêu cầu trước để nhân viên đem theo máy hỗ trợ thanh toán và cà thẻ.</p>
					<p>&emsp;&emsp;<i><b>*Lưu ý:</b> Để an toàn cho chủ thẻ, Thời Thượng Watchstore chỉ hỗ trợ thanh toán thẻ cho quý khách đến thanh toán chính là chủ thẻ.</i></p>
					<p><b>*Chuyển khoản</b></p>
					<p><b>1. </b>Chuyển khoản qua ngân hàng VIETCOMBANK cho chúng tôi theo thông tin:</p>
					<p>&emsp;&emsp;<b>Tên ngân hàng: </b>Ngân hàng Ngoại Thương VN - VietcomBank - chi nhánh Tân Bình, TP HCM. </p>
					<p>&emsp;&emsp;<b>Chủ tài khoản: </b>CONG TY CO PHAN THOI THUONG WATCHSTORE</p>
					<p>&emsp;&emsp;<b>Số tài khoản: </b>044.100.061.51.56</p>
					<p>&emsp;&emsp;<b>Nội dung: </b>Mua-Tên khách hàng-Tên sản phẩm-Số điện thoại</p>
					<p><b>2. </b>Thanh toán trực tuyến:</p>
					<p>&emsp;&emsp;<b>Thanh toán qua thẻ ATM nội địa (có internet banking)</b></p>
					<p>&emsp;&emsp;&emsp;&emsp;+ Điều kiện để thanh toán là thẻ ATM có hỗ trợ thanh toán trực truyến bằng ZaloPay.</p>
					<p>&emsp;&emsp;&emsp;&emsp; Những ngân hàng liên minh với ZaloPay:</p>
					<img src="images/tt1.png" style="margin-top: 10px; margin-bottom: 10px;" alt=""/>
					<p>&emsp;&emsp;&emsp;&emsp;+ Bạn phải đăng ký với ngân hàng dịch vụ giao dịch qua SMS (tin nhắn điện thoại di động) hoặc thiết bị TOKEN, Internet Banking.</p>
					<p>&emsp;&emsp;&emsp;&emsp;Chỉ cần bạn có hai điều kiện trên thì bạn đã có thể thanh toán trực tuyến thông qua hệ thống thanh toán ZaloPay.</p>
					<p><b>*Quy định về hoàn trả tiền khi thanh toán</b></p>
					<p>&emsp;&emsp;Trong trường hợp quý khách hàng đã mua hàng & thanh toán trực tuyến thành công nhưng dư tiền, hoặc trả sản phẩm, Thời Thượng Watchstore sẽ hoàn tiền vào thẻ quý khách đã dùng để thanh toán, theo thời hạn như sau:</p>
					<p>&emsp;&emsp;&emsp;&emsp;<b>1. Đối với thẻ ATM:</b> Thời gian khách hàng nhận được tiền hoàn từ 7 - 10 ngày (trừ Thứ 7, Chủ Nhật và Ngày lễ) kể từ khi Thời Thượng Watchstore nhận được đề nghị của khách hàng. Nếu qua thời gian trên không nhận được tiền, Thời Thượng Watchstore sẽ hỗ trợ liên hệ ngân hàng của khách hàng để giải quyết.</p>
					<p>&emsp;&emsp;&emsp;&emsp;<b>2. Đối với thẻ Visa/Master card/JCB: </b> Thời gian khách hàng nhận được tiền hoàn từ 7-15 ngày làm việc kể từ khi Thời Thượng Watchstore nhận được đề nghị của khách hàng. Nếu qua thời gian trên không nhận được tiền, khách hàng liên hệ ngân hàng để giải quyết.</p>
					<p>&emsp;&emsp;&emsp;&emsp;<b>3. Đối với thanh toán nguồn tiền từ ví ZaloPay:</b> Thời gian khách hàng nhận được tiền hoàn từ 5-7 ngày làm việc kể từ khi Thời Thượng Watchstore nhận được đề nghị của khách hàng. Tiền hoàn sẽ được cập nhật lại vào ví ZaloPay.</p>
					<br/>
					<h2 style="text-align: center;">Hình thức giao hàng</h2><br/>
					<p>&emsp;&emsp;<b>1. Phạm vi áp dụng:</b> Những khu vực tỉnh thành có hệ thống thoithuongwatchstore.com trên toàn quốc.</p>
					<p>&emsp;&emsp;<b>2. Thời gian nhận hàng:</b> Thời Thượng Watchstore nhận giao nhanh trong ngày với khoảng cách từ các siêu thị có hàng đến điểm giao là 20 km. Khoảng cách lớn hơn nhân viên của chúng tôi sẽ tư vấn cách thức giao hàng thuận tiện nhất cho khách hàng. Cụ thể:</p>
					<p>&emsp;&emsp;*Riêng đối với đơn hàng giá rẻ online, sản phẩm sẽ được giao sớm nhất là 1 ngày sau khi đặt.</p>
					<p>&emsp;&emsp;<b>3. Phí giao hàng:</b></p>
					<p>&emsp;&emsp;&emsp;&emsp;Đối với đơn hàng giá trị giá 500.000đ trở xuống, phí giao hàng áp dụng: 20.000đ, đơn hàng trên 500.000đ giao<b> MIỄN PHÍ.</b></p>
					<p>&emsp;&emsp;<b>4. Đem thêm nhiều sản phẩm, mẫu mã khác để khách hàng lựa chọn tại nhà:</b></p>
					<p>&emsp;&emsp;&emsp;&emsp;Nếu có sự băn khoăn trong việc lựa chọn sản phẩm, hãy để nhân viên giao hàng của chúng tôi sẽ đem hơn 2 sản phẩm (đem thêm mẫu máy khác, đem thêm màu khác) theo yêu cầu của bạn đến tận nơi tư vấn.</p>
					<p>&emsp;&emsp;&emsp;&emsp;+ Kỹ thuật viên của chúng tôi sẽ giúp Quý khách khám phá kỹ hơn những tính năng ưu việt của từng sản phầm để Quý khách có được lựa chọn tốt nhất.</p>
					<p>&emsp;&emsp;&emsp;&emsp;+ Quý khách chỉ thanh toán khi thật sự hài lòng với sản phẩm và chất lượng dịch vụ của chúng tôi. Chúng tôi sẽ không tính bất kỳ khoản phí nào cho đến khi Quý khách hoàn toàn đồng ý. </p>
					<p>&emsp;&emsp;&emsp;&emsp;+ Khi Quý khách hoàn toàn hài lòng với sự lựa chọn của mình, Quý khách có thể thanh toán ngay bằng các thẻ quốc tế, nội địa mà không cần phải ra ngân hàng rút tiền mặt trước.</p>
					<p>&emsp;&emsp;&emsp;&emsp;+ Hãy gọi cho chúng tôi bất cứ lúc nào Quý khách cần được phục vụ với chất lượng 5 sao hoàn hảo. </p>
					<br/> <p style="float: right;font-weight: bold;">Cảm ơn quý khách hàng đã quan tâm và ủng hộ cửa hàng!</p>
                    <br/><br/><br/>
                </div>
			</div>
		</div>
	</div> <button class="open-button" onclick="openForm()"><img style="border-radius: 50%;"
		src="images/mes1.jfif"></button>
<div class="chat-popup active" id="myForm">
	<form action="#" class="form-container">
		<h1 style="font-size: 20px; color: black;font-weight: bold;">HỖ TRỢ TRỰC TUYẾN</h1>
		<textarea placeholder="Type message.." name="msg" required></textarea>
		<button type="submit" class="btn">Gửi</button>
		<button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
	</form>
</div>
		<footer role="contentinfo" class="bg_footer" id="#footer_1">
			<section class="footer_top_part">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_30">
									<h5 class="color_light m_bottom_20">LIÊN HỆ VỚI CHÚNG TÔI</h5>
									<div class="row">
										<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
											<li class="m_bottom_8">
												<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
													<i class="icon-phone-1"></i>
												</div>
												<span class="color_light">07103.815.369</span>
											</li>
											<li class="m_bottom_8">
												<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
													<i class="icon-mail-alt"></i>
												</div>
												<a href="mailto:#"
													class="color_light color_light_hover">donghothoithuong@gmail.com</a>
											</li>
											<li class="m_bottom_8">
												<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
													<i class="icon-skype-1"></i>
												</div>
												<span class="color_light">Thời Thượng Watchstore</span>
											</li>
										</ul>
										<ul class="col-lg-12 col-md-12 col-sm-12 vr_list_type_5">
											<li class="m_bottom_15 fw_light relative">
												<div class="icon_wrap_size_1 color_light circle f_left">
													<i class="icon-location"></i>
												</div>
												<span class="color_light">Đại Học Nông Lâm, Linh Trung, Thủ Đức, TP HCM</span>
											</li>
											<li>
												<a href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+H%E1%BB%8Dc+N%C3%B4ng+L%C3%A2m/@10.8679007,106.7856724,17z/data=!3m1!4b1!4m5!3m4!1s0x3175276398969f7b:0x9672b7efd0893fc4!8m2!3d10.8679007!4d106.7878611"
													target="_blank"
													class="button_type_2 color_light r_corners tr_all color_light_hover d_inline_m fs_medium t_md_align_c w_break">Xêm
													trên bản đồ</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_30">
									<h5 class="color_light m_bottom_20 fw_light">HỖ TRỢ KHÁCH HÀNG</h5>
									<div class="row">
										<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
											<li class="m_bottom_8">
												<a href="tragop.html"><span class="color_light">Tìm hiểu về mua trả góp</span></a>
											</li>
											<li class="m_bottom_8">
												<a href="baohanh.html"><span class="color_light">Tìm trung tâm bảo hành chính hãng</span></a>
											</li>
											<li class="m_bottom_8">
												<a href="chinhsach.html"><span class="color_light">Chính sách đổi trả</span></a>
											</li>
											<li class="m_bottom_8">
												<a href="huongdan.html"><span class="color_light">Hướng dẫn mua online</span></a>
											</li>
											<li class="m_bottom_8">
												<a href="giaohang_thanhtoan.html"><span class="color_light">Giao hàng và thanh toán</span></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_30">
									<h5 class="color_light m_bottom_20 fw_light">HỖ TRỢ TRỰC TUYẾN</h5>
									<div class="row">
										<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
											<li class="m_bottom_8">
												<span class="color_light"><b>Kinh doanh 1: </b>0907 060212 (Mr Xinh)</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light"><b>Kinh doanh 2: </b>0932 972168 (Ms Xuân)</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light"><b>Kỹ thuật 1: </b>0945 667661 (Ms Xuân)</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light"><b>Kỹ thuật 2: </b>0939 491092 (Mr Vinh)</span>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 m_bottom_30">
									<h5 class="color_light m_bottom_20 fw_light">THỐNG KÊ</h5>
									<div class="row">
										<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
											<li class="m_bottom_8">
												<span class="color_light">Đang online: 1</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light">Ngày hôm nay: 25</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light">Ngày hôm qua: 122</span>
											</li>
											<li class="m_bottom_8">
												<span class="color_light">Tất cả: 14719</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
			</section>
			<section style="color:000" class="footer_bottom_part t_align_c bg_light_4 fw_light">
				<p>Đồng Hồ Thời Thượng - Thỏa Mãn Sự Đam Mê Của Bạn!</p>
			</section>
		</footer>
	</div>
	<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
		<i class="icon-angle-up fs_large"></i>
	</button>
	<script src="plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="plugins/jquery.elevateZoom-3.0.8.min.js"></script>
	<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
	<script src="plugins/jquery.appear.js"></script>
	<script src="plugins/afterresize.min.js"></script>
	<script src="plugins/jquery.easing.1.3.js"></script>
	<script src="plugins/jquery.easytabs.min.js"></script>
	<script src="plugins/jackbox/js/jackbox-packed.min.js"></script>
	<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="plugins/flickr.js"></script>
	<script src="plugins/colorpicker/colorpicker.js"></script>
	<script src="js/styleswitcher.js"></script>
	<script src="js/theme.plugins.js"></script>
	<script src="js/theme.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(window).bind('scroll',function(){
				var navHeight = $(window).height();
				if($(window).scrollTop()>=navHeight){
					$('.header_bottom_part').addClass('fixed');
				}
				else{
					$('.header_bottom_part').removeClass('fixed');
				}
			})
		});
  function openForm() {
	  document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
	  document.getElementById("myForm").style.display = "none";
  }</script>
</body>
</html>

