<!DOCTYPE HTML>
<!doctype html>
<html lang="en">
<head>
	<title>Đồng Hồ Thời Thượng</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="author" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="shortcut icon" type="image/x-icon" href="images/fav.ico">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900,100italic,300italic,400italic'
		rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/jackbox/css/jackbox.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href="plugins/rs-plugin/css/settings.css">
	<link rel="stylesheet" type="text/css" media="all" href="plugins/colorpicker/colorpicker.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/theme-animate.css">
	<link rel="stylesheet" type="text/css" media="all" href="css/style.css">
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="plugins/jquery.queryloader2.min.js"></script>
	<script src="plugins/modernizr.js"></script>

</head>
<body class="">
	<div class="wide_layout bg_light">
		<div class="bg_top">
			<header role="banner" class="relative banner">
				<section class="header_top_part">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 t_align_r t_xs_align_c">
								<ul class="hr_list fs_small color_grey_light">
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="mailto:#" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-phone-alt" style="font-size: 20px;color: red;"></i><Span>
												Mua hàng</Span></a>
									</li>
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="mailto:#" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-map-marker-alt"
												style="font-size: 20px;color: green;"></i><Span> Cửa hàng</Span></a>
									</li>
									<li class="m_right_20 f_xs_none m_xs_right_0 m_xs_bottom_5">
										<a href="login.html" class="color_grey_light d_inline_b color_black_hover"><i
												class="fa fa-user" style="font-size: 20px;color: blue;"></i><Span> Đăng
												nhập</Span></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div
							class="pt30 pb30 col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
							<a href="index.html" class="d_inline_m m_xs_top_20 m_xs_bottom_20">
								<img src="images/logo.png" alt="">
							</a>
						</div>
						<div
							class="mb15 t_align_r col-lg-4 col-md-4 col-sm-4 d_table_cell d_xs_block f_none v_align_m logo t_xs_align_c">
							<input type="text" class="txtsearch" placeholder="Nhập model cần tìm">
							<button style="vertical-align: bottom;"
								class="icon_wrap_size_2 active color_grey_light_2 tr_all color_purple_hover"><i
									class="icon-search"></i></button>
						</div>
					</div>
				</div>
				<section class="header_bottom_part ">
					<div class="container bg_menu" id="cnt" style="margin: auto;width: 1400px;">
						<div class="d_table w_full d_xs_block" style="width: 1400px;margin: auto;">

							<div class="col-lg-9 col-md-9 col-sm-12 t_align_l d_table_cell d_xs_block f_none"
								style="padding-right: 0px;width: 500px;">
								<div class="relative clearfix t_align_l">
									<button id="menu_button"
										class="r_corners tr_all color_blue db_centered m_bottom_20 d_none d_xs_block">
										<i class="icon-menu"></i>
									</button>
									<nav role="navigation"
										class="d_inline_m d_xs_none m_xs_right_0 m_right_15 t_align_l m_xs_bottom_15" id="naviga">
										<ul class="hr_list main_menu fw_light"  id="nav">
											<li class="current container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="index.html">TRANG CHỦ</a>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="pages_about.html">THƯƠNG HIỆU
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li>
														<a href="about.html" class="d_block color_dark relative">Về chúng tôi</a>
													</li>
													<li class="container3d relative">
														<a href="#" class="d_block color_dark relative">Hỗ trợ khách hàng
															<i class="icon-angle-right"></i>
														</a>
															<ul
															class="sub_menu bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
															<li><a href="tragop.html" class="d_block color_dark">Tìm hiểu về mua trả góp</a></li>
															<li><a href="baohanh.html" class="d_block color_dark">Tìm trung tâm bảo hành chính hãng</a>
															</li>
															<li><a href="chinhsach.html" class="d_block color_dark">Chính sách đổi trả</a></li>
															<li><a href="huongdan.html" class="d_block color_dark">Hướng dẫn mua online</a>
															</li>
															<li><a href="giaohang_thanhtoan.html" class="d_block color_dark">Giao hàng và thanh toán</a></li>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listmale.html">ĐỒNG HỒ NAM
													<i class="icon-angle-down d_inline_m r_xs_corners"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CITIZEN
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ROMANSON
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ORIENT
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listfemale.html">ĐỒNG HỒ NỮ
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CITIZEN
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ROMANSON
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ ORIENT
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="listchild.html">ĐỒNG HỒ TRẺ EM
													<i class="icon-angle-down d_inline_m"></i>
												</a>
												<ul
													class="sub_menu r_xs_corners bg_light vr_list tr_all tr_xs_none trf_xs_none bs_xs_none d_xs_none">
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SEIKO
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CHARACTER
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ TIMEX KIDS
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ CANNIBAL
														</a>
													</li>
													<li class="container3d relative">
														<a href="listmale.html" class="d_block color_dark relative">Đồng
															hồ SWATCH
														</a>
													</li>
												</ul>
											</li>
											<li class="container3d relative f_xs_none m_xs_bottom_5">
												<a class="color_dark fs_large relative r_xs_corners"
													href="contact.html">LIÊN HỆ
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 t_align_r d_table_cell d_xs_block f_none"
								style="padding-left: 0px;">
								<div class="bg_cart" style="margin: 0%;padding-left: 0px;">
									<a class="color_dark" href="giohang.html"><i class="icon-basket"></i> Giỏ hàng:
										<b>0</b> Sản phẩm</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</header>
		</div>
		<div style="margin-top:15px;" class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hr_list d_inline_m breadcrumbs">
						<li class="m_right_8 f_xs_none"><a href="index.html" class="color_default d_inline_m m_right_10">Đồng hồ</a><i class="icon-angle-right d_inline_m color_default fs_small"></i></li>
						<li class="m_right_8 f_xs_none"><a href="#" class="color_default d_inline_m m_right_10">Tìm hiểu về mua trả góp</a></li>
					</ul>
				</div><hr/>
			</div>
		</div>
			<div class="col-sm">
                <h2 style="text-align: center;">Tìm hiểu về mua trả góp</h2>
				<div class="about-wrap" style="margin: 30px 100px 0px 100px; ">
					<p style="text-align: center; font-size: 25px;margin-bottom: 10px;"><b>Trả góp qua các Công ty tài chính</b></p>
                    <p>&emsp;&emsp;Mua hàng trả góp qua công ty tài chính là hình thức khách hàng vay tiền để mua sản phẩm bằng uy tín của mình, không cần phải thế chấp tài sản (nhà đất, xe...), không công chứng giấy tờ, không chứng minh tài chính. Tuy nhiên khách hàng phải chịu mức lãi suất cao hơn lãi suất thông thường của ngân hàng.</p>
					<p style="text-align: center; font-size: 25px;margin-bottom: 10px;"><b>Hướng dẫn mua hàng trả góp</b></p>
                    <p><b>Bước 1: </b>Cung cấp thông tin.</p>
                    <p>&emsp;&emsp;	Khách hàng  mang theo các giấy tờ tùy thân như CMND , SHK , GPLX đến cửa hàng và chọn sản phẩm.</p>
					<p><b>Bước 2: </b>Duyệt hồ sơ.</p>
                    <p>&emsp;&emsp;Nhân viên đơn vị tài chính sẽ tư vấn và hướng dẫn khách hàng lựa chọn sản phẩm và tư vấn gói vay phù hợp vói nhu cầu tài chính khách hàng.</p>
					<p><b>Bước 3: </b>Thẩm định giấy tờ và ký hợp đồng tại shop.</p>
                    <p>&emsp;&emsp;Nhân viên sẽ lên hồ sơ thẩm định cho khách hàng và tiến hành kí hợp đồng tại cửa hàng (Lưu ý mang theo bản gốc đối chiều).</p>
					<p><b>Bước 4: </b>Nhận sản phẩm.</p>
                    <p>&emsp;&emsp;Ký hợp đồng tín dụng và nhận sản phẩm tại cửa hàng.</p>
					<p><b>*Điều kiện, giấy tờ làm thủ tục trả góp.</b></p>
					<p>&emsp;&emsp;+ CMND photo 2 mặt (không quá 15 năm).</p>
					<p>&emsp;&emsp;+ Độ tuổi từ 18 trở lên.</p>
					<p>&emsp;&emsp;+ Hộ khẩu photo (nguyên cuốn kể cả trang trắng) hoặc GPLX photo 2 mặt.</p>
					<p>&emsp;&emsp;+ Đã kết hôn hoặc ly thân phải cung cấp thông tin: họ tên, ngày tháng năm sinh và số CMND người đồng vay.</p>
					<p><b>*Để duyệt nhanh và có lãi suất tốt nhất tôi cần cung cấp những gì?</b></p>
					<p>&emsp;&emsp;+ Để được lãi suất tốt nhất KH phải cung cấp 1 trong 6 loại hóa đơn sau: điện, nước, điện thoại bàn, internet, truyền hình cáp và thuê bao di động trả sau của 1 trong 3 tháng gần nhất.</p>
					<p>&emsp;&emsp;+ Hóa đơn phải thể hiện đúng tên khách hàng, đúng số tháng, hoặc người thân phải cùng HK với khách hàng.</p>
					<p>&emsp;&emsp;+ Đối với khoản vay > 10tr cần cung cấp: HĐ lao động, hoặc bảo hiểm y tế còn thời hạn, hoặc sao kê 3 tháng lương gần nhất (Còn tùy công ty tài chính khác yêu cầu).</p>
					<p><b>1. </b>Tôi có cần chứng minh thu nhập, thế chấp tài sản hoặc cần công chứng giấy tờ khi mua trả góp không?</p>
					<p>&emsp;&emsp;+ Khách hàng mua Trả góp tại Thời Thượng Watchstore sẽ không cần phải thế chấp nhà cửa/xe cộ/tài sản… để mua sản phẩm, chỉ cần cung cấp các giấy tờ cá nhân mà công ty tài chính yêu cầu.</p>
					<p>&emsp;&emsp;+ Khách hàng không cần chuẩn bị các bản công chứng giấy tờ, chỉ cần mang bản gốc đến cửa hàng, nhân viên Thời Thượng Watchstore sẽ hỗ trợ scan lại thông tin để gửi thẩm định.</p>
					<p><b>2. </b>Tôi không có hộ khẩu ở TP. Hà Nội, TP. Hồ Chí Minh có thể mua trả góp được không?</p>
					<p>&emsp;&emsp;Dịch vụ trả góp tại Thời Thượng Watchstore hỗ trợ khách hàng có hộ khẩu ở 63 tỉnh thành trên cả nước (còn trừ một số huyện chưa được hỗ trợ).</p>
					<p><b>3. </b>Tôi đem theo bản sao có thể làm hồ sơ được không?</p>
					<p>&emsp;&emsp;Bạn có thể đem theo bản sao để đến cửa hàng Thời Thượng Watchstore làm hồ sơ trả góp, tuy nhiên phải mang theo bản gốc để đối chiếu.</p>
					<p><b>4. </b>Tôi đem theo bản sao có thể làm hồ sơ được không?</p>
					<p>&emsp;&emsp;Mọi chương trình khuyến mãi mà Thời Thượng Watchstore đang áp dụng cho khách mua tại cửa hàng cũng áp dụng khi mua trả góp.</p>
					<p><b>5. </b>Mua trả góp có nhận được khuyến mãi như khi mua bình thường không?</p>
					<p>&emsp;&emsp;Bắt buộc xuất hoá đơn theo tên Khách hàng / Tên chủ thẻ tín dụng.</p>
					 <p style="float: right;font-weight: bold;">Cảm ơn quý khách hàng đã quan tâm và ủng hộ cửa hàng!</p>
                    <br/><br/><br/>
                </div>
			</div>
		</div>
	</div> <button class="open-button" onclick="openForm()"><img style="border-radius: 50%;"
		src="images/mes1.jfif"></button>
<div class="chat-popup active" id="myForm">
	<form action="#" class="form-container">
		<h1 style="font-size: 20px; color: black;font-weight: bold;">HỖ TRỢ TRỰC TUYẾN</h1>
		<textarea placeholder="Type message.." name="msg" required></textarea>
		<button type="submit" class="btn">Gửi</button>
		<button type="button" class="btn cancel" onclick="closeForm()">Đóng</button>
	</form>
</div>
<footer role="contentinfo" class="bg_footer" id="#footer_1">
	<section class="footer_top_part">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3 fw_light m_bottom_30">
							<h5 class="color_light m_bottom_20">LIÊN HỆ VỚI CHÚNG TÔI</h5>
							<div class="row">
								<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
									<li class="m_bottom_8">
										<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
											<i class="icon-phone-1"></i>
										</div>
										<span class="color_light">07103.815.369</span>
									</li>
									<li class="m_bottom_8">
										<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
											<i class="icon-mail-alt"></i>
										</div>
										<a href="mailto:#"
											class="color_light color_light_hover">donghothoithuong@gmail.com</a>
									</li>
									<li class="m_bottom_8">
										<div class="d_inline_m icon_wrap_size_1 color_light circle m_right_10">
											<i class="icon-skype-1"></i>
										</div>
										<span class="color_light">Thời Thượng Watchstore</span>
									</li>
								</ul>
								<ul class="col-lg-12 col-md-12 col-sm-12 vr_list_type_5">
									<li class="m_bottom_15 fw_light relative">
										<div class="icon_wrap_size_1 color_light circle f_left">
											<i class="icon-location"></i>
										</div>
										<span class="color_light">Đại Học Nông Lâm, Linh Trung, Thủ Đức, TP HCM</span>
									</li>
									<li>
										<a href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+H%E1%BB%8Dc+N%C3%B4ng+L%C3%A2m/@10.8679007,106.7856724,17z/data=!3m1!4b1!4m5!3m4!1s0x3175276398969f7b:0x9672b7efd0893fc4!8m2!3d10.8679007!4d106.7878611"
											target="_blank"
											class="button_type_2 color_light r_corners tr_all color_light_hover d_inline_m fs_medium t_md_align_c w_break">Xêm
											trên bản đồ</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_30">
							<h5 class="color_light m_bottom_20 fw_light">HỖ TRỢ KHÁCH HÀNG</h5>
							<div class="row">
								<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
									<li class="m_bottom_8">
										<a href="tragop.html"><span class="color_light">Tìm hiểu về mua trả góp</span></a>
									</li>
									<li class="m_bottom_8">
										<a href="baohanh.html"><span class="color_light">Tìm trung tâm bảo hành chính hãng</span></a>
									</li>
									<li class="m_bottom_8">
										<a href="chinhsach.html"><span class="color_light">Chính sách đổi trả</span></a>
									</li>
									<li class="m_bottom_8">
										<a href="huongdan.html"><span class="color_light">Hướng dẫn mua online</span></a>
									</li>
									<li class="m_bottom_8">
										<a href="giaohang_thanhtoan.html"><span class="color_light">Giao hàng và thanh toán</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_30">
							<h5 class="color_light m_bottom_20 fw_light">HỖ TRỢ TRỰC TUYẾN</h5>
							<div class="row">
								<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
									<li class="m_bottom_8">
										<span class="color_light"><b>Kinh doanh 1: </b>0907 060212 (Mr Xinh)</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light"><b>Kinh doanh 2: </b>0932 972168 (Ms Xuân)</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light"><b>Kỹ thuật 1: </b>0945 667661 (Ms Xuân)</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light"><b>Kỹ thuật 2: </b>0939 491092 (Mr Vinh)</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 m_bottom_30">
							<h5 class="color_light m_bottom_20 fw_light">THỐNG KÊ</h5>
							<div class="row">
								<ul class="col-lg-12 col-md-12 col-sm-12 fw_light w_break m_xs_bottom_8">
									<li class="m_bottom_8">
										<span class="color_light">Đang online: 1</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light">Ngày hôm nay: 25</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light">Ngày hôm qua: 122</span>
									</li>
									<li class="m_bottom_8">
										<span class="color_light">Tất cả: 14719</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
	</section>
	<section style="color:000" class="footer_bottom_part t_align_c bg_light_4 fw_light">
		<p>Đồng Hồ Thời Thượng - Thỏa Mãn Sự Đam Mê Của Bạn!</p>
	</section>
</footer>
	</div>
	<button id="back_to_top" class="circle icon_wrap_size_2 color_blue_hover color_grey_light_4 tr_all d_md_none">
		<i class="icon-angle-up fs_large"></i>
	</button>
	<script src="plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="plugins/jquery.elevateZoom-3.0.8.min.js"></script>
	<script src="plugins/flexslider/jquery.flexslider-min.js"></script>
	<script src="plugins/jquery.appear.js"></script>
	<script src="plugins/afterresize.min.js"></script>
	<script src="plugins/jquery.easing.1.3.js"></script>
	<script src="plugins/jquery.easytabs.min.js"></script>
	<script src="plugins/jackbox/js/jackbox-packed.min.js"></script>
	<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
	<script src="plugins/flickr.js"></script>
	<script src="plugins/colorpicker/colorpicker.js"></script>
	<script src="js/styleswitcher.js"></script>
	<script src="js/theme.plugins.js"></script>
	<script src="js/theme.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(window).bind('scroll',function(){
				var navHeight = $(window).height();
				if($(window).scrollTop()>=navHeight){
					$('.header_bottom_part').addClass('fixed');
				}
				else{
					$('.header_bottom_part').removeClass('fixed');
				}
			})
		});
  function openForm() {
	  document.getElementById("myForm").style.display = "block";
  }

  function closeForm() {
	  document.getElementById("myForm").style.display = "none";
  }</script>
</body>
</html>

