.headline{
  height: 60px;
  padding-top: 13px;

  display: flex;
  label{
      background-color: #eb2929;
      height: 30px;
      width: 100px;
      text-align: center;
      color: aliceblue;

  }
  ul{
      list-style: none;
      display: flex;
      li{
          padding-left:20px;
          a{
            text-decoration: none;
              color: #888;
          }
          a:hover{
            text-decoration: underline;
          }
      }
  }
}
