<div class="editor-pick">
  <div class="slimScrollDiv">
    <div class="slimScrollDiv_1">
      <img src="https://image.thanhnien.vn/220x150/uploaded/thanhlongn/2021_06_19/chuyenngainoivoixuanlan4_adgs.jpg">
      <h2>
      <a href = "">
       <span> Nghệ sĩ Quang Minh: Chính vì còn thương Hồng Đào nên tôi mới chia tay</span>
      </a>
    </h2>
    </div>
    <div class="slimScrollDiv_2">
      <h2>
      <a href = "">
       <span>
        EURO 2020, đội tuyển Ý: Khi tấn công là lẽ sống</span>
      </a>
    </h2>
    </div>
    <div class="slimScrollDiv_2">
      <h2>
      <a href = "">
       <span> Hôn nhân 33 năm của Lục Tiểu Linh Đồng và người đẹp phim ‘Tây Du Ký’</span>
      </a>
    </h2>
    </div>
    <div class="slimScrollDiv_2">
      <h2>
      <a href = "">
       <span> Hôn nhân 33 năm của Lục Tiểu Linh Đồng và người đẹp phim ‘Tây Du Ký’</span>
      </a>
    </h2>
    </div>
    <div class="slimScrollDiv_2">
      <h2>
      <a href = "">
       <span> Hôn nhân 33 năm của Lục Tiểu Linh Đồng và người đẹp phim ‘Tây Du Ký’</span>
      </a>
    </h2>
    </div>

  </div>
</div>
