.editor-pick{
  width:248px;
  height:630px;
  background-color:white;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 7px #d9d9d9;
  .slimScrollDiv{
    width:218px;
    height: 637px;
    margin-top:15px;
    margin-left: 15px;

    .slimScrollDiv_1{
      width:100%;
      height:260px;
      border-bottom: 0.5px solid #eee;

      img{
        width:100%;
        height:170px;
        margin-bottom: 10px;

      }
      h2{
        font-size: 15px;
        a{
          color: #333;
          text-decoration: none;
        }
        a:hover{
          color: #007bff;
        }
      }
    }
    .slimScrollDiv_2{
      width:100%;
      height:80px;
      border-bottom: 0.5px solid #eee;
      h2{
        margin-top: 3px;
        font-size: 15px;
        a{
          color: #333;
          text-decoration: none;
        }
        a:hover{
          color: #007bff;
        }
      }
    }
  }

}
